openapi: 3.1.0
info:
  title: Nylas v3 Administration APIs
  version: v3
  summary: The Nylas Administration APIs
  description: |
    <div style="padding:24px; background-color: #F5FFFD; border: 1px solid #00A88C; color: #161717">This API reference documentation covers the <strong>Administration APIs</strong> only. See the <strong><a href="/docs/api/v3/ecc/">Email, Calendar, and Contacts API reference</a></strong> for information on working with the Email, Calendar, and Contacts APIs.</div>

    The **Nylas Administration APIs** are how you query and change your Nylas applications, including the application's authentication configuration, provider settings, and webhook subscriptions. You can also use Administration APIs to query your application to list the Grants (specific permissions to access user data) that are associated with each of your Nylas applications.

    The Nylas API is designed using the [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer) ideology to provide simple and predictable URIs to access and modify objects. Requests support [standard HTTP methods](http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html) like `GET`, `PUT`, `POST`, and `DELETE`, and [standard status codes](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).

    You can use the [Nylas Postman collection](https://www.postman.com/trynylas/workspace/nylas-api/overview) to quickly start using the Nylas APIs. For more information, check out the [Nylas Postman collection documentation](/docs/v3/api-references/postman/).

    ## Query parameters

    Nylas allows you to include query parameters in `GET` requests that return a list of results. Query parameters let you narrow the results Nylas returns, meaning fewer requests to the provider and less data for your application to sift through. For more information, see [Rate limits in Nylas](/docs/dev-guide/platform/rate-limits/).

    The table below shows the query parameters you can use for the `GET` requests in the Administration APIs.

    | Endpoint | Query parameters |
    | :--- | :--- |
    | [`GET /v3/connectors`](/docs/api/v3/admin/#get-/v3/connectors) | `limit`, `offset` |
    | [`GET /v3/grants`](/docs/api/v3/admin/#get-/v3/grants) | `limit`, `offset`, `sort_by`, `order_by`, `since`, `before`, `email`, `grant_status`, `ip`, `provider` |
    | [`GET /v3/connectors/<PROVIDER>/creds`](/docs/api/v3/admin/#get-/v3/connectors/-provider-/creds) | `limit`, `offset`, `sort_by`, `order_by` |

    You can use the `limit` parameter to set the maximum number of results Nylas returns for your request. Nylas recommends setting a lower `limit` if you encounter rate limits on the provider. For more information, see [Avoiding rate limits in Nylas](/docs/dev-guide/best-practices/rate-limits/).

    ## Updating objects

    `PUT` and `PATCH` requests behave similarly in Nylas v3: when you make a request, Nylas replaces all data in the nested object with the information you define. Because of this, your request might fail if you don't include all mandatory fields.

    Nylas doesn't erase the data from fields that you don't include in your request, so you can define only the mandatory fields and any that you want to update.

    ## Authentication documentation

    You can find more information about the Nylas Administration APIs in the main documentation set:

    - [Authentication in v3](/docs/v3/auth/)
      - [Create grants with OAuth authentication + API key](/docs/v3/auth/hosted-oauth-apikey/)
      - [Create grants with OAuth authentication + Access token](/docs/v3/auth/hosted-oauth-accesstoken/)
      - [Create grants with custom authentication](/docs/v3/auth/custom/) (called "native" authentication in v2)
      - [Create grants with IMAP authentication](/docs/v3/auth/imap/)
    - [Bulk authentication in v3](/docs/v3/auth/bulk-auth-grants/)
    - [v3 event codes](/docs/v3/api-references/event-codes/)
    - [Virtual Calendars in v3](/docs/v3/auth/virtual-calendars/)

    ## Nylas v3 encoding

    Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.
  contact:
    url: https://www.nylas.com/
servers:
  - url: https://api.us.nylas.com
    description: US
  - url: https://api.eu.nylas.com
    description: EU
security:
  - ACCESS_TOKEN: []
  - NYLAS_API_KEY: []
tags:
  - name: Applications
    description: |
      In the context of the Nylas APIs, an "application" is the object record of your Nylas application.
      </br></br>
      <div style="padding:24px; background-color: #F0F3FF; border: 1px solid #00A88C; color: #161717">🔍 <b>The term "application" can refer to any of three concepts</b>: your Nylas application, the project you're building ("your application" or "your app"), and applications that you use to connect to service providers ("provider auth applications"). We try to be specific in this documentation to avoid confusion. The API endpoints described here are for working with your Nylas application, specifically.</div>

      The Nylas application is the central resource for your Nylas implementation. It collects the [connectors](/docs/api/v3/admin/#tag--Connectors-(Integrations)) that you use to store information about third party services that your application connects to, and stores the [grants](/docs/api/v3/admin/#tag--Manage-Grants) that you create when using connectors.

      Nylas applications also allow you to define your specific branding, change the look and feel of the Nylas Hosted authentication flow, and list your callback URIs.

      ## Application callback URIs

      Your Nylas application includes a list of allowed callback URIs. These are known URIs that Nylas can direct end users to after authentication. (These are separate from the callback URLs you specify when subscribing to webhook notifications.) You must define at least _one_ callback URI so your end users can complete the auth flow.

      You must include any callback URIs you plan to use in this list. If an auth payload includes a callback URI that isn't on the list, the whole authentication flow fails.

      ## Application limitations

      </br>
      <div style="padding:24px; background-color: #FFFEE6; border: 1px solid #9E9600; color: #161717">⚠️ <b>You can create, edit, and delete applications from the v3 Nylas Dashboard</b>. You <i>cannot</i> create, edit, or delete them using the Nylas APIs.</div>

      Keep the following limitations in mind as you work with Nylas applications:

      - Applications are the central resource that stores other Nylas resources. You _must_ create an application before you can create any other parts of your Nylas implementation.
      - Applications can be associated with only one project at a time. While your project can have more than one Nylas application to provide different authentication experiences, you cannot share applications, connectors, or grants between more than one project.
      - Applications cannot be nested, and cannot be set up with parent-child relationships.
      - Your application must have _at least one_ callback URI, or else it cannot finish the authentication flow, which means it cannot create grants. Nylas requires grants to access end user data.
        - In an ideal scenario, your application will have multiple callback URIs defined.
  - name: Connectors (Integrations)
    description: |

      In Nylas, a connector (formerly called an "integration") stores information that allows your Nylas application to connect to a third party services, such as a provider auth application from Google (GCP), Microsoft (Azure), or to an IMAP provider. You must create a connector in your Nylas application for each specific provider before you can create Grants and access user data from that provider.

      A Nylas connector stores data about how your Nylas application contacts the provider, the default permissions the Nylas application requests, and is generally the starting point for any authentication with that provider.

      ## Connector contents

      The connector stores a label provided by the user, the provider name or type (for example, `google`/`microsoft`/`imap`/`virtual_calendar`), an expiry time for the hosted authentication link, and the provider settings.

      The "provider's settings" come from the provider itself when you create your provider auth application on Google, Azure, or IMAP. For example, a provider's settings might contain the provider auth application's `client_id` and `client_secret`. Nylas stores these values securely and uses them as default credentials when authenticating with that provider.

      Nylas follows modern security best practices to encode and encrypt these provider settings, to ensure that they can never be obtained by a third party, including Nylas internal employees.

      ### What are limitations of connectors?

      Connectors are associated with a single [Nylas application](/docs/api/v3/admin/#tag--Applications).

      In v3, you can have only one Nylas connector for each type of provider. For example, your Nylas application can have only one Google connector.

      If you want to create a grant for a different provider auth application, (for example, on a different GCP project, but you already have a default Google connector), you can use the special Nylas [_connector override protocol_](/docs/api/v3/admin/#post-/v3/connect/custom) to override the defaults.
  - name: Authentication APIs
    description: |
      Nylas provides two ways to handle authentication:

      - **Custom authentication**, which uses the [`/v3/connect/custom` endpoint](/docs/api/v3/admin/#post-/v3/connect/custom). In Custom auth, you already have refresh tokens for your end users, and you just need to create grants for them in Nylas. This endpoint is also used for [virtual calendars](/docs/v3/auth/virtual-calendars/), [IMAP auth](/docs/v3/auth/imap/), and [bulk auth grants](/docs/v3/auth/bulk-auth-grants/).
      - **Hosted OAuth**, where the end user completes an OAuth process on the provider, and the provider returns an access token. Depending on your needs, you can use either the end user's access token or a Nylas API key to authorize requests after you complete the OAuth flow. See the [Authentication documentation](/docs/v3/auth/) for more information.

      ## Hosted authentication with OAuth

      OAuth is the modern industry-standard protocol for authorization, and is used by major technology companies like Google, Apple, Microsoft, and others. Nylas v3 supports authentication using the [OAuth 2.0 protocol](https://oauth.net/2/) and an additional option to use PKCE for extra security. [PKCE is an extension of the OAuth 2.0 protocol](https://oauth.net/2/pkce/) that prevents authorization code interception attacks, and makes OAuth 2.0 more secure on mobile devices and client-side applications.

      During the OAuth 2.0 authentication flow, the end user provides the account that they want to authenticate to Nylas, and they're prompted to allow your application's "scopes" (for example, `https://www.googleapis.com/auth/gmail.readonly` or `https://www.googleapis.com/auth/userinfo.profile`).

      ### Using Hosted OAuth

      To use Hosted OAuth in Nylas v3, you must first create a Nylas application in the v3 Dashboard, then create a [connector](/docs/api/v3/admin/#tag--Connectors-(Integrations)) in that application for each authentication provider. This allows Nylas to get and store each provider's settings, and configure a set of default scopes to apply.

      Nylas can detect which provider an end user is using, and redirect them to the correct provider's authentication system.

      If the end user decides to choose different provider settings for an OAuth 2.0 authorization protocol, Nylas allows them to override the default provider connector's settings.

      A successful OAuth authorization results in a [grant](/docs/api/v3/admin/#tag--Manage-Grants) with the scopes that the end user allowed.

      See [Create grants with OAuth 2.0 and PKCE](/docs/v3/auth/hosted-oauth-accesstoken/#create-grants-with-oauth-2.0-and-pkce) for more information.

      ### Adding the "Sign in with Google" button

      Your Google provider auth app must have a "Sign in with Google" button that meets [Google's branding guidelines](https://developers.google.com/identity/branding-guidelines). This applies to the OAuth flow for both personal Gmail (`@gmail.com`) and Workspace email addresses.

      For Hosted authentication, Nylas recommends you do one of the following:

      - Configure the OAuth login prompt by setting the `prompt` parameter with `select_provider` or `detect,select_provider`. For more information, see [Configure the OAuth login prompt](/docs/v3/auth/customize-login-prompt/).

        <div style="padding:24px; background-color: #FFFEE6; border: 1px solid #9E9600; color: #161717">📝 <b>Note</b>: If you add a <code>login_hint</code> that is a personal Gmail or Workspace email address, and you don't configure a <code>prompt</code> during the Hosted auth flow, the end user is directed immediately to the Google OAuth page without clicking the "Sign in with Google" button. This can result in delays or failure in verification.
        </div>

      - Use the pre-approved "Sign in with Google" button along with the "Connect your account" button (or other provider login buttons) in your application. For more information, see Google's official [Sign in with Google branding guidelines](https://developers.google.com/identity/branding-guidelines).

      For Custom authentication, use the pre-approved "Sign in with Google" button along with the "Connect your account" button (or other provider login buttons) in your application.

      Learn more about [Google verification and security assessment](/docs/dev-guide/provider-guides/google/google-verification-security-assessment-guide/).
  - name: Manage Grants
    description: |
      Grants replace the concept of "connected accounts" in Nylas v3. They represent a specific set of permissions ("scopes") that a specific end user granted Nylas for a specific provider. Think of a grant as a record of an end user "granting access" to specific resources.

      Grants are the main objects that power Nylas, because they grant your Nylas application specific scopes of access (for example, permission to read email messages) to the end user's resources and data on their provider. They also represent access granted to your application for certain end-user resources.

      There are several ways to create grants:

      - Using [Hosted OAuth and an API key](/docs/v3/auth/hosted-oauth-apikey/).
      - Using [Hosted OAuth and an access token](/docs/v3/auth/hosted-oauth-accesstoken/), with [optional PKCE](/docs/v3/auth/hosted-oauth-accesstoken/#create-grants-with-oauth-2.0-and-pkce) for additional security.
      - Using [Custom authentication](/docs/v3/auth//custom/) (called "Native authentication" in Nylas v2).
      - Using a special [bulk auth grant](/docs/v3/auth/bulk-auth-grants) (also called a "service account").

      You can re-authenticate grants using any of these methods, and Nylas handles all the re-authentication logic internally.

      ## Re-authentication and notifications

      Grants can become invalid for many reasons (for example, the end user changing their password). When a grant becomes invalid, the end user must re-authenticate to access your application.

      When a grant becomes invalid, Nylas loses access to the affected user's data and stops sending notifications about changes to its objects. When the end user re-authenticates, Nylas looks at when their grant last authenticated successfully. If it was less than 72 hours ago, Nylas looks for any changes that happened since the last successful sync and sends you notifications about those events. This can be _a lot_ of notifications.

      If the grant was out of service for more than 72 hours, Nylas doesn't send backfill notifications. When this happens, look for the `grant.expired` and `grant.updated` notifications and query the Nylas APIs for objects that changed between those timestamps.
      </br></br>
      <div style="padding:24px; background-color: #FFFEE6; border: 1px solid #9E9600; color: #161717">⚠️ <b>If message tracking events occur while a grant is out of service for more than 72 hours, you cannot backfill the notifications</b>. This includes <a href="/docs/v3/notifications/notification-schemas/#message-opened-notifications"><code>message.opened</code></a>, <a href="/docs/v3/notifications/notification-schemas/#link-clicked-notifications"><code>message.link_clicked</code></a>, and <a href="/docs/v3/notifications/notification-schemas/#thread-replied-notifications"</a><code>thread.replied</code></a> notifications.</div>

      ## Grant limitations

      When working with grants, keep the following limitations in mind:

      - You can re-authenticate a grant to add new scopes, remove scopes, or extend its expiry date.
      - Each grant belongs to a specific Nylas connector (because they come from a specific provider), in a specific Nylas application. A grant cannot be associated with multiple connectors or applications.
      - Grants expire after a pre-defined period of time. When this happens, they must be re-authenticated.

      ## Grant notifications

      You can subscribe to the following triggers so Nylas notifies you about changes to your users' data:

      - `grant.created`
      - `grant.updated`
      - `grant.deleted`
      - `grant.expired`

      For more information, see the [Grant notification schemas](/docs/v3/notifications/notification-schemas/#grant-notifications).
  - name: Webhook Notifications
    description: |
      Your application receives information about changes to user accounts and data through Nylas webhooks.
      </br></br>
      <div style="padding:24px; background-color: #F0F3FF; border: 1px solid #002DB4; color: #161717"> 🔍 <b>The term "webhook" can refer to any of three component parts</b>: a location where you receive notifications (the "webhook URL" or "webhook endpoint"), a subscription to events that you want notifications for ("webhook triggers"), or the information payload that is sent when a trigger condition is met (the "webhook notification"). We try to be specific in this documentation to avoid confusion.</div>

      To configure webhooks, you first need a webhook URL in your project where your app can receive incoming webhook payloads, and a list of triggers that you want to receive notifications for. See the [list of available trigger types](/docs/v3/notifications/notification-schemas/) for more information.

      Webhooks in Nylas v3 are not compatible with Ngrok because of throughput limiting concerns. Nylas recommends you use [VS Code port forwarding](https://code.visualstudio.com/docs/editor/port-forwarding), [Hookdeck](https://hookdeck.com/), or a similar webhook tool.

      ## Monitor grant status

      The most important webhooks to subscribe to are those related to grant status: `grant.created`, `grant.updated`, `grant.deleted`, and `grant.expired`. They allow you to automate important grant lifecycle processes, like onboarding email messages, data refreshes, and backend deletions.

      The `grant.expired` trigger notifies you when an end user needs to re-authenticate their account. When you receive a `grant.expired` notification, you can take appropriate action (for example, notifying the end user or starting a background re-authentication process).
      </br></br>
      <div style="padding:24px; background-color: #F0F3FF; border: 1px solid #002DB4; color: #161717"> 📝 <b>When a grant becomes invalid, Nylas cannot access the end user's data and does not send you webhook notifications about it</b>. When you re-authenticate a grant, Nylas looks at when the grant last authenticated successfully. If it was less than 72 hours ago, Nylas looks for any changes that happened since the time of the last successful sync, and sends you notifications about them. This can be a <i>lot</i> of notifications.

      If the grant has been out of service for more than 72 hours, Nylas does _not_ send backfill notifications. In this case, look for the `grant.expired` and `grant.updated` notifications, and query the Nylas API for objects that changed between those timestamps.</div>

      ## Specify fields for webhook notifications

      Nylas allows you to specify the fields you want to receive for the following webhook notifications:

      - `message.created`
      - `message.updated`
      - `event.created`
      - `event.updated`

      This reduces the payload size for the notifications, and improves their performance.

      When you specify the fields you want to receive for a certain trigger type, Nylas sends those notifications with the `.transformed` suffix (for example, `message.updated.transformed`). You don't need to subscribe to webhook triggers with the `.transformed` suffix separately, but you _do_ need to create logic in your project to handle the new notification type.

      For more information, see the [Webhooks documentation](/docs/v3/notifications/webhooks/#specify-fields-for-webhook-notifications).

      ## iCloud limitation for Calendar notifications

      Because iCloud doesn't support the `primary` property for calendars, Nylas sends `calendar.updated` notifications for changes to all calendars on an iCloud account.

      ## Payload size limit and truncation

      In v3, Nylas sends webhook notifications as JSON payloads that contain the object that triggered the notification, up to a maximum payload size of 1MB. If a webhook notification exceeds the size limit, Nylas truncates the payload by removing the body content, and adds the `.truncated` suffix to the webhook trigger name (for example, `message.created.truncated`). This reduces the size of the payload and improves performance.

      When you receive a truncated webhook notification, you'll need to re-query the Nylas APIs to get the data. For example, if you receive a `message.updated.truncated` notification, make a [Return message request](/docs/api/v3/ecc/#get-/v3/grants/-grant_id-/messages/-message_id-) that includes the message ID.

      If you subscribe to a webhook trigger that can be truncated, Nylas automatically sends you `.truncated` notifications as well. You don't need to subscribe to webhook triggers with the `.truncated` suffix separately, and the suffix doesn't appear as a option in the v3 Dashboard. See the [list of available trigger types](/docs/v3/notifications/notification-schemas/) for more information.

      You can monitor for `.truncated` notifications to create automations that retrieve the full affected object. For example, you can create an automation that makes a [`GET /v3/grants/<NYLAS_GRANT_ID>/messages/<MESSAGE_ID>` request](/docs/api/v3/ecc/#get-/v3/grants/-grant_id-/messages/-message_id-) when your application receives a `message.updated.truncated` notification

      ## How to handle webhook failures

      Nylas v3 improves how the platform handles failing webhooks. This is sometimes called "circuit breaker" logic. See [improvements to failure notifications](/docs/new/in-v3/webhooks-changes/#improvements-to-webhook-failure-notifications) and [Failing and failed webhooks](/docs/v3/notifications/webhooks/#failing-and-failed-webhooks) for more information.

      - **Failing state**: If Nylas cannot deliver a webhook notification to the destination endpoint for 95% of webhooks over a 15-minute period, Nylas marks the endpoint as `failing` but continues sending notifications to it. Nylas also sends you an email message when this happens so you can troubleshoot the issue.
      - **Failed state**: If Nylas cannot deliver 95% of webhook notifications to a `failing` endpoint over the next 72 hours, Nylas marks the endpoint as `failed` and stops sending notifications to it. Nylas also sends you an email message when this happens so you can address the issue.

      </br>
      <div style="padding:24px; background-color: #FFFEE6; border: 1px solid #9E9600; color: #161717">⚠️ Nylas does not automatically restart or reactivate <code>failed</code> webhooks.</div>

      This change gives you full control over when your webhook endpoint becomes active again, so you can verify that it's working as expected before you restart normal webhook traffic.

      ## Webhook triggers

      The following trigger types are available in Nylas v3:

      - `contact.updated`: A contact was modified or updated.
      - `contact.deleted`: A contact was deleted.
      - `calendar.created`: A calendar was created.
      - `calendar.updated`: A calendar was updated or modified.
      - `calendar.deleted`: A calendar was deleted.
      - `event.created`: An event was created on an end user's calendar.
      - `event.updated`: An event was updated or modified.
      - `event.deleted`: An event was deleted.
      - `grant.created`: A new grant was authenticated. This is the v3 equivalent of the v2 `account.created` webhook trigger.
      - `grant.updated`: A grant was modified, updated, or re-authenticated.
      - `grant.deleted`: A grant was deleted as a result of the end user making a [Delete Grant request](/docs/api/v3/admin/#delete-/v3/grants/-grantId-).
      - `grant.expired`: A grant's credentials have expired, and the end user must re-authenticate.
      - `message.created`: An email message was created.
      - `message.updated`: An email message was updated.
      - `message.send_success`: A scheduled email message was sent and delivered successfully. You must set the `send_at` parameter in an email message to use this trigger. For more information, see [Schedule email messages to send in the future](/docs/v3/email/scheduled-send/).
      - `message.send_failed`: A scheduled email message was sent, but was not delivered. You must set the `send_at` parameter in an email message to use this trigger. For more information, see [Schedule email messages to send in the future](/docs/v3/email/scheduled-send/).
      - `message.bounce_detected`: (Available for Google, Microsoft Graph, iCloud, and Yahoo.) An email message bounced or was not delivered.
      - `message.opened`: A participant opened a tracked email message.
      - `message.link_clicked`: A participant clicked a link in a tracked email message.
      - `thread.replied`: A participant replied to an email message in a tracked thread.
      - `message.intelligence.order`: An end user received an email message containing e-commerce order information. ExtractAI must be enabled.
      - `message.intelligence.tracking`: An end user received an email message containing shipping information for an e-commerce order. ExtractAI must be enabled.
      - `folder.created`: A folder or label was created.
      - `folder.updated`: A folder or label was modified or updated.
      - `folder.deleted`: A folder or label was deleted.
      - `booking.created`: A new Scheduler event was created.
      - `booking.rescheduled`: A Scheduler event was rescheduled through Scheduler.
      - `booking.cancelled`: A Scheduler event was cancelled through the Scheduler.
      - `booking.pending`: A pending booking was created.

      <!-- EM: Not confirmed whether this webhook is being included in GA:
      - `message.deleted`: An email message was deleted. -->

      For more information on webhook trigger types, and for schema examples, see the [notification schemas](/docs/v3/notifications/notification-schemas/).
  - name: Pub/Sub Notifications
    description: |
      Nylas offers two ways to get notifications of what's happening on the provider. You can either subscribe to webhook notifications, or you can set up a notification channel.

      Currently, Nylas offers a Pub/Sub notification channel. This can be used in place of, or in addition to, normal webhook notifications.

      To use Pub/Sub notifications, you first need to set up a Pub/Sub queue on Google Cloud Platform. For detailed set up instructions see the [Pub/Sub notifications documentation](/docs/v3/notifications/pubsub-channel/).

      The Nylas Pub/Sub notification channels use the same notification [trigger types and schemas](/docs/v3/notifications/notification-schemas/) as webhook notifications, and require the same [provider scopes](/docs/v3/notifications/notification-scopes/).

      ## Monitor grant status

      The most important notifications to subscribe to are those related to grant status: `grant.created`, `grant.updated`, `grant.deleted`, and `grant.expired`. They allow you to automate important grant lifecycle processes, like onboarding email messages, data refreshes, and backend deletions.

      The `grant.expired` trigger notifies you when an end user needs to re-authenticate their account. When you receive a `grant.expired` notification, you can take appropriate action (for example, notifying the end user or starting a background re-authentication process).
      </br>
      </br>
      <div style="padding:24px; background-color: #F0F3FF; border: 1px solid #002DB4; color: #161717"> 📝 <b>When a grant becomes invalid, Nylas cannot access the end user's data and does not send you notifications about it</b>. When you re-authenticate a grant, Nylas looks at when the grant last authenticated successfully. If it was less than 72 hours ago, Nylas looks for any changes that happened since the time of the last successful sync, and sends you notifications about them. This can be a <i>lot</i> of notifications.

      If the grant has been out of service for more than 72 hours, Nylas does _not_ send backfill notifications. In this case, look for the `grant.expired` and `grant.updated` notifications, and query the Nylas API for objects that changed between those timestamps.
      </div>
  - name: Connector credentials
    description: |
      A Nylas connector credential is a special type of record that securely stores information (such as provider settings) that allows you to connect using an administrator account. Nylas securely stores, hashes, and encrypts the connector credential's sensitive data, and the contents vary depending on the authentication provider.

      Bulk authentication grants use connector credentials to connect or reconnect end user accounts to your Nylas application. You can also use them to override a connector's settings to perform administrative tasks. For more information, see the [Bulk authentication grant documentation](/docs/v3/auth/bulk-auth-grants/).

      Both Google and Microsoft bulk authentication grants can use connector credentials.

      To override the default values in a provider's connector settings (for example, the `client_secret` and `client_id`), [create a grant using Custom authentication](/docs/v3/auth/custom/#use-api-request-for-custom-authentication) and provide the connector credential in your request payload, along with the values to override.

      ## Connector credential limitations

      Keep the following limitations in mind as you work with connector credentials:

      - A connector credential _must_ be connected to an existing Nylas connector.
      - Each connector credential must have a unique name.
      - When you make a [Create Credential request](/docs/api/v3/admin/#post-/v3/connectors/-provider-/creds), Nylas checks if a connector credential with the same parameters exists. If one _does_ exist, Nylas uses that connector credential instead of creating one.
paths:
  /v3/applications:
    get:
      operationId: get_application
      tags:
        - Applications
      summary: Get application
      description: Gets the application object
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl --request GET \
              --url https://api.us.nylas.com/v3/applications \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer <NYLAS_API_KEY>' \
              --header 'Content-Type: application/json'
        - lang: javascript
          label: Node.js SDK
          source: |-
            import 'dotenv/config'
            import Nylas from 'nylas'

            const NylasConfig = {
              apiKey: process.env.NYLAS_API_KEY,
              apiUri: process.env.NYLAS_API_URI,
            }

            const nylas = new Nylas(NylasConfig)

            const applicationDetails = await nylas.applications.getDetails()

            console.log({ applicationDetails })
        - lang: python
          label: Python SDK
          source: |-
            # Load your env variables
            from dotenv import load_dotenv
            load_dotenv()

            # Import your dependencies
            import os
            import sys
            from nylas import Client

            # Initialize your Nylas API client
            nylas = Client(
                os.environ.get('NYLAS_API_KEY'),
                os.environ.get('NYLAS_API_URI')
            )

            # Retrieve Application Information
            application = nylas.applications.info()
            application_id = application[1]
            print("Application ID:", application_id)
        - lang: ruby
          label: Ruby SDK
          source: |
            # frozen_string_literal: true

            # Load gems
            require 'nylas'

            # Initialize Nylas client
            nylas = Nylas::Client.new(
              api_key: '<NYLAS_API_KEY>'
            )

            application = nylas.applications.get_details()
            puts application
        - lang: java
          label: Java SDK
          source: |-
            import com.nylas.NylasClient;
            import com.nylas.models.*;

            public class getApplication {
              public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {
                NylasClient nylas = new NylasClient.Builder("<NYLAS_API_KEY>").build();
                Response<ApplicationDetails> application = nylas.applications().getDetails();

                System.out.println(application);
              }
            }
        - lang: kotlin
          label: Kotlin SDK
          source: |-
            import com.nylas.NylasClient

            fun main(args: Array<String>) {
              val nylas: NylasClient = NylasClient(
                  apiKey = "<NYLAS_API_KEY>"
              )

              val application = nylas.applications().getDetails()

              print(application)
            }
      security:
        - NYLAS_API_KEY: []
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  request_id:
                    type: string
                    description: ID of the request
                    example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
                  data:
                    $ref: '#/components/schemas/ApplicationObject'
          description: Returns Application object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
    patch:
      operationId: update_application
      tags:
        - Applications
      summary: Update an application
      description: |-
        Update a specific Nylas application using the client ID associated with an API key.
        </br></br>
        <div style="padding:24px; background-color: #FFFEE6; border: 1px solid #9E9600; color: #161717">⚠️ <b>This endpoint will be removed in the future when application settings are available in the v3 Nylas Dashboard</b>.</div>

        When you make a `PATCH` request, Nylas replaces all data in the nested object with the information
        included in your request. For more information, see
        [Updating objects](/docs/api/v3/admin/#overview--updating-objects).
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl --request PATCH \
              --url 'https://api.us.nylas.com/v3/applications' \
              --header 'Content-Type: application/json' \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer <NYLAS_API_KEY>' \
              --data '{
                "application_id": "<string>",
                "organization_id": "<string>",
                "region": "<string>",
                "environment": "<string>",
                "branding": {
                  "name": "<string>",
                  "icon_url": "<string>",
                  "website_url": "<string>",
                  "description": "<string>"
                },
                "hosted_authentication": {
                  "background_image_url": "<string>",
                  "alignment": "<string>",
                  "color_primary": "<string>",
                  "color_secondary": "<string>",
                  "title": "<string>",
                  "subtitle": "<string>",
                  "background_color": "<string>",
                  "spacing": "<integer>"
                },
                "callback_uris": [
                  {
                    "id": "<string>",
                    "url": "<string>",
                    "platform": "<string>",
                    "settings": {
                      "origin": "<string>",
                      "bundle_id": "<string>",
                      "package_name": "<string>",
                      "sha1_certificate_fingerprint": "<string>"
                    }
                  },
                  {
                    "id": "<string>",
                    "url": "<string>",
                    "platform": "<string>",
                    "settings": {
                      "origin": "<string>",
                      "bundle_id": "<string>",
                      "package_name": "<string>",
                      "sha1_certificate_fingerprint": "<string>"
                    }
                  }
                ]
              }'
      security:
        - NYLAS_API_KEY: []
      requestBody:
        required: true
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationObject'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/ApplicationObject'
          description: Returns application object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
  /v3/applications/redirect-uris:
    get:
      operationId: get_application_redirect_uri_all
      tags:
        - Applications
      summary: Get an application's callback URIs
      description: Get an application's callback URIs
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl --request GET \
              --url https://api.us.nylas.com/v3/applications/redirect-uris \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer <NYLAS_API_KEY>' \
              --header 'Content-Type: application/json'
        - lang: javascript
          label: Node.js SDK
          source: |-
            import 'dotenv/config'
            import Nylas from "nylas"

            const NylasConfig = {
              apiKey: process.env.NYLAS_API_KEY,
              apiUri: process.env.NYLAS_API_URI,
            }

            const nylas = new Nylas(NylasConfig)

            const applicationDetails = await nylas.applications.redirectUris

            console.log({ applicationDetails })
        - lang: python
          label: Python SDK
          source: |-
            # Load your env variables
            from dotenv import load_dotenv
            load_dotenv()

            # Import your dependencies
            import os
            import sys
            from nylas import Client

            # Initialize your Nylas API client
            nylas = Client(
                os.environ.get('NYLAS_API_KEY'),
                os.environ.get('NYLAS_API_URI')
            )

            # Retrieve Application Information
            application_redirect_uris = nylas.applications.redirect_uris
            print("Application Redirects:", application_redirect_uris)
        - lang: ruby
          label: Ruby SDK
          source: |
            # frozen_string_literal: true

            # Load gems
            require 'nylas'

            # Initialize Nylas client
            nylas = Nylas::Client.new(
              api_key: '<NYLAS_API_KEY>'
            )

            application = nylas.applications.get_details()
            puts application[0][:callback_uris]
        - lang: java
          label: Java SDK
          source: |-
            import com.nylas.NylasClient;
            import com.nylas.models.*;

            public class getApplicationUris {
              public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {
                NylasClient nylas = new NylasClient.Builder("<NYLAS_API_KEY>").build();
                Response<ApplicationDetails> application = nylas.applications().getDetails();

                System.out.println(application.getData().getCallbackUris());
              }
            }
        - lang: kotlin
          label: Kotlin SDK
          source: |-
            import com.nylas.NylasClient

            fun main(args: Array<String>) {
              val nylas: NylasClient = NylasClient(
                  apiKey = "<NYLAS_API_KEY>"
              )

              val application = nylas.applications().getDetails()

              print(application.data.callbackUris)
            }
      security:
        - NYLAS_API_KEY: []
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RedirectURIObject'
          description: Returns a list of Callback URI objects
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    $ref: '#/components/schemas/400'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  request_id:
                    type: string
                    description: ID of the request
                    example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
                  error:
                    $ref: '#/components/schemas/404'
    post:
      operationId: add_application_redirect_uri
      tags:
        - Applications
      summary: Add callback URI to application
      description: Add new Callback URI to an existing Application. Callback URIs are used to redirect users back to your application after they authenticate with Nylas. If you don't specify a `platform`, the default is `web`.
      security:
        - NYLAS_API_KEY: []
      requestBody:
        required: true
        description: ''
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              oneOf:
                - $ref: '#/components/schemas/webDesktopCallbackNoSettings'
                - $ref: '#/components/schemas/JsCallbackwSettings'
                - $ref: '#/components/schemas/iosCallbackwSettings'
                - $ref: '#/components/schemas/AndroidCallbackwSettings'
              discriminator:
                propertyName: platform
                mapping:
                  web: '#/components/schemas/webDesktopCallbackNoSettings'
                  desktop: '#/components/schemas/webDesktopCallbackNoSettings'
                  js: '#/components/schemas/JsCallbackwSettings'
                  ios: '#/components/schemas/iosCallbackwSettings'
                  android: '#/components/schemas/AndroidCallbackwSettings'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  request_id:
                    type: string
                    description: ID of the request
                    example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
                  data:
                    $ref: '#/components/schemas/RedirectURIObject'
          description: Returns CallbackURI object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl --request POST \
              --url 'https://api.us.nylas.com/v3/applications/redirect-uris' \
              --header 'Content-Type: application/json' \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer <NYLAS_API_KEY>' \
              --data '{
                "url": "<string>",
                "platform": "<string>",
                "settings": {
                  "origin": "<string>",
                  "bundle_id": "<string>",
                  "package_name": "<string>",
                  "sha1_certificate_fingerprint": "<string>"
                }
              }'
  /v3/applications/redirect-uris/{id}:
    parameters:
      - example: 0556d035-6cb6-4262-a035-6b77e11cf8fc
        name: id
        schema:
          type: string
        in: path
        required: true
    get:
      operationId: get_application_redirect_uri_by_id
      tags:
        - Applications
      summary: Get callback URI
      description: Gets a Callback URI based on ID
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl --request GET \
              --url https://api.us.nylas.com/v3/applications/redirect-uris/<CALLBACK_ID> \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer <NYLAS_API_KEY>' \
              --header 'Content-Type: application/json'
        - lang: javascript
          label: Node.js SDK
          source: |-
            import 'dotenv/config'
            import Nylas from "nylas"

            const NylasConfig = {
              apiKey: process.env.NYLAS_API_KEY,
              apiUri: process.env.NYLAS_API_URI,
            }

            const nylas = new Nylas(NylasConfig)

            async function getRedirectUri() {
              try {
                const redirectUris = await nylas.applications.redirectUris.find({
                    redirectUriId: process.env.REDIRECT_URI_ID
                })

                console.log('Updated Draft:', redirectUris)
              } catch (error) {
                console.error('Error to update draft:', error)
              }
            }

            getRedirectUri()
        - lang: python
          label: Python SDK
          source: |-
            from dotenv import load_dotenv
            load_dotenv()

            import os
            import sys
            from nylas import Client

            nylas = Client(
                os.environ.get('NYLAS_API_KEY'),
                os.environ.get('NYLAS_API_URI')
            )

            grant_id = os.environ.get("NYLAS_GRANT_ID")
            contact_id = os.environ.get("CONTACT_ID")

            redirect_uri = nylas.applications.redirect_uris.find(
              redirect_uri_id= os.environ.get("REDIRECT_URI_ID"),
            )

            print(redirect_uri)
        - lang: ruby
          label: Ruby SDK
          source: "require 'nylas'\t\n\nnylas = Nylas::Client.new(\n\tapi_key: \"<NYLAS_API_KEY>\"\n)\n\nredirect_uris = nylas.applications.redirect_uris.find(redirect_uri_id: \"<REDIRECT_URI_ID>\")\n\nputs redirect_uris\n"
        - lang: java
          label: Java SDK
          source: |
            import com.nylas.NylasClient;
            import com.nylas.models.*;

            public class GetApplicationURIs {
                public static void main(String[] args)
                throws NylasSdkTimeoutError, NylasApiError {

                    NylasClient nylas = new NylasClient.Builder("<NYLAS_API_KEY>").build();

                    Response<RedirectUri> redirect_uris =
                    nylas.applications().redirectUris().find("<REDIRECT_URI_ID>");
                    System.out.println(redirect_uris);
                }
            }
        - lang: kotlin
          label: Kotlin SDK
          source: |
            import com.nylas.NylasClient

            fun main(args: Array<String>) {

                val nylas: NylasClient = NylasClient(
                    apiKey = "<NYLAS_API_KEY>"
                )

                val redirecturis = nylas.applications().redirectUris().find("<REDIRECT_URI_ID>")
                print(redirecturis)
            }
      security:
        - NYLAS_API_KEY: []
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  request_id:
                    type: string
                    description: ID of the request
                    example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
                  data:
                    $ref: '#/components/schemas/RedirectURIObject'
          description: Returns Callback URI object
        '401':
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
    patch:
      operationId: patch_application_redirect_uri_by_id
      tags:
        - Applications
      summary: Update a callback URI
      description: |-
        Update a specific callback URI. If you don't define a `platform`, Nylas doesn't modify the existing
        settings.

        When you make a `PATCH` request, Nylas replaces all data in the nested object with the information
        included in your request. For more information, see
        [Updating objects](/docs/api/v3/admin/#overview--updating-objects).
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl --request PATCH \
              --url https://api.us.nylas.com/v3/applications/redirect-uris/<CALLBACK_ID> \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer <NYLAS_API_KEY>' \
              --header 'Content-Type: application/json'
              --data '{
                "url": "<UPDATED_CALLBACK_URL>"
              }'
      security:
        - NYLAS_API_KEY: []
      requestBody:
        required: true
        description: ''
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              oneOf:
                - $ref: '#/components/schemas/webDesktopCallbackNoSettings'
                - $ref: '#/components/schemas/JsCallbackwSettings'
                - $ref: '#/components/schemas/iosCallbackwSettings'
                - $ref: '#/components/schemas/AndroidCallbackwSettings'
              discriminator:
                propertyName: platform
                mapping:
                  web: '#/components/schemas/webDesktopCallbackNoSettings'
                  desktop: '#/components/schemas/webDesktopCallbackNoSettings'
                  js: '#/components/schemas/JsCallbackwSettings'
                  ios: '#/components/schemas/iosCallbackwSettings'
                  android: '#/components/schemas/AndroidCallbackwSettings'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  request_id:
                    type: string
                    description: ID of the request
                    example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
                  data:
                    $ref: '#/components/schemas/RedirectURIObject'
          description: Returns Callback URI object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
    delete:
      operationId: delete_application_redirect_uri_by_id
      tags:
        - Applications
      summary: Delete a callback URI
      description: Delete existing Callback URI based on it's ID
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl --request DELETE \
              --url https://api.us.nylas.com/v3/applications/redirect-uris/<CALLBACK_ID> \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer <NYLAS_API_KEY>' \
              --header 'Content-Type: application/json'
        - lang: javascript
          label: Node.js SDK
          source: |-
            import 'dotenv/config'
            import Nylas from 'nylas'

            const NylasConfig = {
             apiKey: process.env.NYLAS_API_KEY,
             apiUri: process.env.NYLAS_API_URI,
            }

            const nylas = new Nylas(NylasConfig)

            async function deleteRedirectUriId() {
              try {
                const response = await nylas.applications.redirectUris.destroy({
                  redirectUriId: process.env.REDIRECT_URI_ID,
                })

                console.log('Redirect Uri deleted:', response)
              } catch (error) {
                console.error('Error to delete redirect uri:', error)
              }
            }

            deleteRedirectUriId()
        - lang: python
          label: Python SDK
          source: |-
            from dotenv import load_dotenv
            load_dotenv()

            import os
            import sys
            from nylas import Client

            nylas = Client(
                os.environ.get('NYLAS_API_KEY'),
                os.environ.get('NYLAS_API_URI')
            )

            response = nylas.applications.redirect_uris.destroy(
              redirect_uri_id= os.environ.get("REDIRECT_URI_ID"),
            )

            print(response)
        - lang: ruby
          label: Ruby SDK
          source: |
            # frozen_string_literal: true

            require 'nylas'

            nylas = Nylas::Client.new(
              api_key: '<NYLAS_API_KEY>'
            )

            redirect_uris = nylas.applications.redirect_uris.destroy(redirect_uri_id: "<REDIRECT_URI_ID>")

            puts redirect_uris
        - lang: java
          label: Java SDK
          source: |
            import com.nylas.NylasClient;
            import com.nylas.models.*;

            public class DeleteApplicationURIs {
                public static void main(String[] args) throws
                NylasSdkTimeoutError, NylasApiError {

                    NylasClient nylas = new NylasClient.Builder("<NYLAS_API_KEY>").build();

                    DeleteResponse redirect_uris =
                    nylas.applications().redirectUris().destroy("<REDIRECT_URI>");
                    System.out.println(redirect_uris);
                }
            }
        - lang: kotlin
          label: Kotlin SDK
          source: |
            import com.nylas.NylasClient

            fun main(args: Array<String>) {

                val nylas: NylasClient = NylasClient(
                    apiKey = "<NYLAS_API_KEY>"
                )

                val redirecturis = nylas.applications().redirectUris().destroy("<REDIRECT_URIS>")
                print(redirecturis)
            }
      security:
        - NYLAS_API_KEY: []
      responses:
        '200':
          $ref: '#/components/responses/200-delete'
        '401':
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
  /v3/connectors:
    post:
      operationId: create_connector
      tags:
        - Connectors (Integrations)
      summary: Create a connector
      description: |
        Create a connector in your Nylas application.
        Connectors are how your Nylas application stores information it needs to connect to external services. Creating a connector is the first step in setting up authentication for your project.
      security:
        - NYLAS_API_KEY: []
      requestBody:
        required: true
        description: ''
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: Google
                  required:
                    - provider
                  properties:
                    provider:
                      type: string
                      description: The provider type. For Google providers, set to `google`.
                      example: google
                    settings:
                      type: object
                      description: GCP provider auth app credentials and settings.
                      required:
                        - client_id
                        - client_secret
                      properties:
                        client_id:
                          type: string
                          description: The GCP app's client ID.
                          example: abc-def
                        client_secret:
                          type: string
                          description: The GCP app's client secret.
                          example: xyz-abc-def
                        topic_name:
                          type: string
                          description: Google Pub/Sub topic name. Required if using Email webhooks.
                          example: topic-123
                    scope:
                      type: array
                      items:
                        type: string
                      description: Set the default scopes for each connector. These scopes are overridden by scopes set on the specific grant.
                      example:
                        - https://www.googleapis.com/auth/userinfo.email
                        - https://www.googleapis.com/auth/userinfo.profile
                        - https://www.googleapis.com/auth/gmail.readonly
                - type: object
                  title: Microsoft
                  required:
                    - provider
                  properties:
                    provider:
                      type: string
                      description: The provider type. For Microsoft providers, set to `microsoft`.
                      example: microsoft
                    settings:
                      type: object
                      description: Your Azure provider auth app credentials and settings, as stored in Entra ID.
                      required:
                        - client_id
                        - client_secret
                      properties:
                        client_id:
                          type: string
                          description: The Azure auth app's client ID.
                          example: abc-def
                        client_secret:
                          type: string
                          description: The Azure auth app's client secret.
                          example: xyz-abc-def
                        tenant:
                          type: string
                          description: Microsoft tenant ID.
                          example: abc-123-def-456
                    scope:
                      type: array
                      items:
                        type: string
                      description: |-
                        Set the default scopes for each connector. Scopes set on individual grants override these scopes.
                        For Microsoft Graph connectors, the Nylas API accepts both the full URI version of a scope name (for example, `https://graph.microsoft.com/Calendars.Read`), as well as the short form (for example, `Calendars.Read`).
                      example:
                        - User.Read
                        - Mail.Read
                - type: object
                  title: Zoom
                  required:
                    - provider
                  properties:
                    provider:
                      type: string
                      description: The provider type. For Zoom providers, set to `zoom`.
                      example: zoom
                    settings:
                      type: object
                      description: Zoom provider credentials and settings. You can copy them from your [Zoom App](https://developers.zoom.us/docs/zoom-apps/) in [Zoom Developer Platform](https://developers.zoom.us/docs/). The Zoom Nylas connector does not support default scopes, so do not include them.
                      required:
                        - client_id
                        - client_secret
                      properties:
                        client_id:
                          type: string
                          description: The Zoom app's client ID.
                          example: abc-def
                        client_secret:
                          type: string
                          description: The Zoom app's client secret.
                          example: xyz-abc-def
                - type: object
                  title: iCloud
                  required:
                    - provider
                  properties:
                    provider:
                      type: string
                      description: The provider type. For iCloud providers, set to `icloud`.
                      example: icloud
                - type: object
                  title: IMAP
                  required:
                    - provider
                  properties:
                    provider:
                      type: string
                      description: The provider type. For IMAP providers, set to `imap`.
                      example: imap
                - type: object
                  title: Microsoft Exchange (EWS)
                  required:
                    - provider
                    - settings
                  properties:
                    provider:
                      type: string
                      description: The provider type (in this case, `ews`).
                      example: ews
                    scopes:
                      type: string
                      description: Scopes settings tell Nylas to request specific data objects from the provider.
                      enum:
                        - ews.messages
                        - ews.calendar
                        - ews.contacts
                      examples:
                        - ews.messages
                        - ews.calendar
                        - ews.contacts
                - type: object
                  title: Virtual Calendars
                  required:
                    - provider
                  properties:
                    provider:
                      type: string
                      description: The provider type. For virtual calendars, set to `virtual-calendar`.
                      example: virtual-calendar
                - type: object
                  title: Yahoo
                  required:
                    - provider
                  properties:
                    provider:
                      type: string
                      description: The provider type. For Yahoo providers, set to `yahoo`.
                      example: yahoo
                    settings:
                      type: object
                      description: Yahoo provider credentials.
                      required:
                        - client_id
                        - client_secret
                      properties:
                        client_id:
                          type: string
                          description: The Yahoo app's client ID.
                          example: abc-def
                        client_secret:
                          type: string
                          description: The Yahoo app's client secret.
                          example: xyz-abc-def
                    scope:
                      type: array
                      items:
                        type: string
                      description: Set the default scopes for each connector. These scopes are overridden by scopes set on the specific grant.
                      example:
                        - email
                        - profile
                        - mail-w
      responses:
        '201':
          description: Connector Created
          content:
            application/json:
              schema:
                properties:
                  request_id:
                    type: string
                    description: ID of the request.
                    example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
                  data:
                    $ref: '#/components/schemas/ConnectorObject'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
      x-code-samples:
        - lang: bash
          label: cURL
          source: |
            curl --request POST \
              --url https://api.us.nylas.com/v3/connectors \
              --header 'Content-Type: application/json' \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer <NYLAS_API_KEY>' \
              --data '{
                "provider": "<string>",
                "settings": {
                  "client_id": "<NYLAS_CLIENT_ID>",
                  "client_secret": "<NYLAS_CLIENT_SECRET>",
                  "topic_name": "<TOPIC_NAME>"
                },
                "scope": [
                  "<string>",
                  "<string>"
                ]
              }'
        - lang: javascript
          label: Node.js SDK
          source: |-
            import 'dotenv/config'
            import Nylas from 'nylas'

            // Nylas configuration
            const NylasConfig = {
              apiKey: process.env.NYLAS_API_KEY,
              apiUri: process.env.NYLAS_API_URI,
            }

            const nylas = new Nylas(NylasConfig)

            const identifier = process.env.NYLAS_GRANT_ID

            async function createConnector() {
              try {
                const connector = await nylas.connectors.create({
                  requestBody: {
                    name: 'google',
                    provider: 'google',
                    settings: {
                      clientId: process.env.GCP_CLIENT_ID,
                      clientSecret: process.env.GCP_CLIENT_SECRET,
                    },
                    scope: [
                      'openid',
                      'https://www.googleapis.com/auth/userinfo.email',
                      'https://www.googleapis.com/auth/gmail.modify',
                      'https://www.googleapis.com/auth/calendar',
                      'https://www.googleapis.com/auth/contacts',
                    ],
                  },
                });

                console.log('Connector created:', connector)
              } catch (error) {
                console.error('Error creating connector:', error)
              }
            }

            createConnector()
        - lang: python
          label: Python SDK
          source: |-
            from dotenv import load_dotenv
            load_dotenv()

            import os
            import sys
            from nylas import Client

            nylas = Client(
                os.environ.get('NYLAS_API_KEY'),
                os.environ.get('NYLAS_API_URI')
            )

            # Create a connector
            connector = nylas.connectors.create(
              request_body={
                "provider": "google",
                "settings": {
                  "client_id": os.environ.get('GCP_CLIENT_ID'),
                  "client_secret": os.environ.get('GCP_CLIENT_SECRET')
                },
                "scopes": [
                  'openid',
                  'https://www.googleapis.com/auth/userinfo.email',
                  'https://www.googleapis.com/auth/gmail.modify',
                  'https://www.googleapis.com/auth/calendar',
                  'https://www.googleapis.com/auth/contacts'
                ]
              }
            )
        - lang: ruby
          label: Ruby SDK
          source: |-
            require 'nylas'

            nylas = Nylas::Client.new(
                api_key: "<NYLAS_API_KEY>"
            )

            request_body = {
              provider: "google",
              settings: {
                clientId: "<GCP_CLIENT_ID>",
                clientSecret: "<GCP_CLIENT_SECRET>",
              },
              scope: [
                'openid',
                'https://www.googleapis.com/auth/userinfo.email',
                'https://www.googleapis.com/auth/gmail.modify',
                'https://www.googleapis.com/auth/calendar',
                'https://www.googleapis.com/auth/contacts',
              ]
            }

            nylas.connectors.create(request_body: request_body)
        - lang: java
          label: Java SDK
          source: |-
            import com.nylas.NylasClient;
            import com.nylas.models.*;
            import java.util.ArrayList;
            import java.util.List;

            public class connector {
              public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {
                NylasClient nylas = new NylasClient.Builder("<NYLAS_API_KEY>").build();

                List<String> scope = new ArrayList<>();
                scope.add("openid");
                scope.add("https://www.googleapis.com/auth/userinfo.email");
                scope.add("https://www.googleapis.com/auth/gmail.modify");
                scope.add("https://www.googleapis.com/auth/calendar");
                scope.add("https://www.googleapis.com/auth/contacts");

                GoogleCreateConnectorSettings settings = new GoogleCreateConnectorSettings(
                    "<GCP_CLIENT_ID>",
                    "<GCP_CLIENT_SECRET>",
                    ""
                );

                CreateConnectorRequest request = new CreateConnectorRequest.Google(settings, scope);

                nylas.connectors().create(request);
              }
            }
        - lang: kotlin
          label: Kotlin SDK
          source: |-
            import com.nylas.NylasClient
            import com.nylas.models.CreateConnectorRequest
            import com.nylas.models.GoogleCreateConnectorSettings

            fun main(args: Array<String>) {
              val nylas: NylasClient = NylasClient(
                  apiKey = "<NYLAS_API_KEY>"
              )

              var scope = listOf(
                  "openid",
                  "https://www.googleapis.com/auth/userinfo.email",
                  "https://www.googleapis.com/auth/gmail.modify",
                  "https://www.googleapis.com/auth/calendar",
                  "https://www.googleapis.com/auth/contacts"
              )

              val settings : GoogleCreateConnectorSettings = GoogleCreateConnectorSettings(
                  "<GCP_CLIENT_ID>",
                  "<GCP_CLIENT_SECRET>",
                  ""
              )

              val request : CreateConnectorRequest = CreateConnectorRequest.Google(settings, scope)

              nylas.connectors().create(request)
            }
    get:
      operationId: get_connector_all
      tags:
        - Connectors (Integrations)
      summary: List connectors
      description: List the connectors in your Nylas application.
      security:
        - NYLAS_API_KEY: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
          required: false
          description: Limit the number of results in a connector list.
        - name: offset
          in: query
          schema:
            type: integer
          required: false
          description: Offset the list of results in a connector list.
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  request_id:
                    type: string
                    description: ID of the request.
                    example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConnectorObject'
                  limit:
                    type: integer
                    example: 10
                  offset:
                    type: integer
                    example: 0
          description: Returns an array of Connector objects.
        '401':
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl --request GET \
              --url https://api.us.nylas.com/v3/connectors \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer <NYLAS_API_KEY>' \
              --header 'Content-Type: application/json'
        - lang: javascript
          label: Node.js SDK
          source: |
            import 'dotenv/config'
            import Nylas from 'nylas'

            const NylasConfig = {
              apiKey: process.env.NYLAS_API_KEY,
              apiUri: process.env.NYLAS_API_URI,
            }

            const nylas = new Nylas(NylasConfig)

            const listConnectors = async () => {
              try {
                const connectors = await nylas.connectors.list({})

                console.log('Connectors:', connectors)
              } catch (error) {
                console.error('Error fetching connectors:', error)
              }
            }

            listConnectors()
        - lang: python
          label: Python SDK
          source: |-
            # Load your env variables
            from dotenv import load_dotenv
            load_dotenv()

            # Import your dependencies
            import os
            import sys
            from nylas import Client

            # Initialize your Nylas API client
            nylas = Client(
              os.environ.get('NYLAS_API_KEY'),
              os.environ.get('NYLAS_API_URI')
            )

            connectors = nylas.connectors.list

            print("Connectors:", connectors)
        - lang: ruby
          label: Ruby SDK
          source: |-
            require 'nylas'
            require 'dotenv/load'

            nylas = Nylas::Client.new(
                api_key: ENV["NYLAS_API_KEY"]
            )

            connectors = nylas.connectors.list()

            puts connectors
        - lang: java
          label: Java SDK
          source: |
            import com.nylas.NylasClient;
            import com.nylas.models.*;

            public class ListDraft {
                public static void main(String[] args) throws
                NylasSdkTimeoutError, NylasApiError {
                    NylasClient nylas =
                    new NylasClient.Builder("<NYLAS_API_KEY>").build();

                    ListResponse<Connector> connectors =
                    nylas.connectors().list();
                    System.out.println(connectors);
                }
            }
        - lang: kotlin
          label: Kotlin SDK
          source: |
            import com.nylas.NylasClient

            fun main(args: Array<String>) {

                val nylas: NylasClient = NylasClient(
                    apiKey = "<NYLAS_API_KEY>"
                )

                val connectors = nylas.connectors().list()
                println(connectors)
            }
  /v3/connectors/{provider}:
    get:
      operationId: get_connector_by_provider
      tags:
        - Connectors (Integrations)
      summary: Get connector
      description: Returns a connector (previously called an integration) for the provider you specify. These APIs take a `provider` type instead of an ID, because in API v3 you only have one connector per provider.
      security:
        - NYLAS_API_KEY: []
      parameters:
        - $ref: '#/components/parameters/provider'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  request_id:
                    type: string
                    description: ID of the request
                    example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
                  data:
                    $ref: '#/components/schemas/ConnectorObject'
          description: Returns a connector object
        '401':
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      x-code-samples:
        - lang: bash
          label: cURL
          source: |
            curl --request GET \
              --url https://api.us.nylas.com/v3/connectors \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer <NYLAS_API_KEY>' \
              --header 'Content-Type: application/json'
        - lang: javascript
          label: Node.js SDK
          source: |
            import 'dotenv/config'
            import Nylas from 'nylas'

            // Configure the Nylas SDK with your API key and server URL
            const NylasConfig = {
              apiKey: process.env.NYLAS_API_KEY,
              apiUri: process.env.NYLAS_API_URI,
            }

            const nylas = new Nylas(NylasConfig)

            const getConnector = async () => {
              try {
                const connector = await nylas.connectors.find({
                  provider: 'google'
                })

                console.log('Connector', connector)
              } catch (error) {
                console.error('Error fetching connector:', error)
              }
            }

            getConnector()
        - lang: python
          label: Python SDK
          source: |-
            from dotenv import load_dotenv
            load_dotenv()

            # Import your dependencies
            import os
            import sys
            from nylas import Client

            # Initialize your Nylas API client
            nylas = Client(
              os.environ.get('NYLAS_API_KEY'),
              os.environ.get('NYLAS_API_URI')
            )

            connector = nylas.connectors.find(
              provider="google"
            )

            print("Connector:", connector)
        - lang: ruby
          label: Ruby SDK
          source: |-
            require 'nylas'
            require 'dotenv/load'

            nylas = Nylas::Client.new(
                api_key: ENV["NYLAS_API_KEY"]
            )

            connectors = nylas.connectors.find(provider: "google")

            puts connectors
        - lang: java
          label: Java SDK
          source: |
            import com.nylas.NylasClient;
            import com.nylas.models.*;

            public class ListDraft {
                public static void main(String[] args) throws
                NylasSdkTimeoutError, NylasApiError {
                    NylasClient nylas =
                    new NylasClient.Builder("<NYLAS_API_KEY>").build();

                    Response<Connector> connector =
                    nylas.connectors().find(AuthProvider.GOOGLE);
                    System.out.println(connector);
                }
            }
        - lang: kotlin
          label: Kotlin SDK
          source: |
            import com.nylas.NylasClient
            import com.nylas.models.AuthProvider

            fun main(args: Array<String>) {

                val nylas: NylasClient = NylasClient(
                    apiKey = "<NYLAS_API_KEY>"
                )

                val connector =
                nylas.connectors().find(AuthProvider.GOOGLE)
                println(connector)
            }
    patch:
      operationId: update_connector_by_provider
      tags:
        - Connectors (Integrations)
      summary: Update a connector
      description: |-
        Update the connector for the specified provider.

        When you make a `PATCH` request, Nylas replaces all data in the nested object with the information
        included in your request. For more information, see
        [Updating objects](/docs/api/v3/admin/#overview--updating-objects).
      security:
        - NYLAS_API_KEY: []
      parameters:
        - $ref: '#/components/parameters/provider'
      requestBody:
        required: true
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: object
                  description: Oauth provider credentials and settings
                  example:
                    tenant: common
                scope:
                  type: array
                  description: Oauth "scope" parameter
                  example:
                    - Mail.Read
                    - User.Read
                    - offline_access
                  items:
                    type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  request_id:
                    type: string
                    description: ID of the request
                    example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
                  data:
                    $ref: '#/components/schemas/ConnectorObject'
          description: Returns the connector object (previously called an integration) for the provider you specify.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl --request PATCH \
              --url 'https://api.us.nylas.com/v3/connectors/<CONNECTOR>' \
              --header 'Content-Type: application/json' \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer <NYLAS_API_KEY>' \
              --data '{
                  "name": "google"
              }'
        - lang: python
          label: Python SDK
          source: |-
            # Load your env variables
            from dotenv import load_dotenv
            load_dotenv()

            # Import your dependencies
            import os
            import sys
            from nylas import Client

            # Initialize your Nylas API client
            nylas = Client(
              os.environ.get('NYLAS_API_KEY'),
              os.environ.get('NYLAS_API_URI')
            )

            connector = nylas.connectors.update(
              provider='google',
              request_body={
                "name": "google"
              }
            )

            print("Connector:", connector)
        - lang: ruby
          label: Ruby SDK
          source: |
            require 'nylas'

            nylas = Nylas::Client.new(
                api_key: "<NYLAS_API_KEY>"
            )

            request_body = {
              scope: [
                'https://www.googleapis.com/auth/contacts'
              ]
            }

            connector = nylas.connectors.update(provider: "google", request_body: request_body)

            puts connector
        - lang: java
          label: Java SDK
          source: |
            import com.nylas.NylasClient;
            import com.nylas.models.*;

            import java.util.ArrayList;
            import java.util.List;

            public class ListDraft {
                public static void main(String[] args) throws
                NylasSdkTimeoutError, NylasApiError {

                    NylasClient nylas =
                    new NylasClient.Builder("<NYLAS_API_KEY>").build();

                    List<String> scope = new ArrayList<>();
                    scope.add("https://www.googleapis.com/auth/contacts");

                    GoogleConnectorSettings settings =
                    new GoogleConnectorSettings();

                    UpdateConnectorRequest.Google request =
                    new UpdateConnectorRequest.Google(settings, scope);

                    nylas.connectors().update(AuthProvider.GOOGLE, request);
                }
            }
            }
        - lang: kotlin
          label: Kotlin SDK
          source: |
            import com.nylas.NylasClient
            import com.nylas.models.AuthProvider
            import com.nylas.models.GoogleConnectorSettings
            import com.nylas.models.UpdateConnectorRequest

            fun main(args: Array<String>) {

                val nylas: NylasClient = NylasClient(
                    apiKey = "<NYLAS_API_KEY>"
                )

                val settings : GoogleConnectorSettings =
                GoogleConnectorSettings()

                val request =
                UpdateConnectorRequest.Google(settings)

                val connector =
                nylas.connectors().update(AuthProvider.GOOGLE,
                request)
                println(connector)
            }
    delete:
      operationId: delete_connector_by_provider
      tags:
        - Connectors (Integrations)
      summary: Delete a connector
      description: Delete the existing connector for the provider you specify.
      parameters:
        - $ref: '#/components/parameters/provider'
      security:
        - NYLAS_API_KEY: []
      responses:
        '200':
          $ref: '#/components/responses/200-delete'
        '401':
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      x-code-samples:
        - lang: bash
          label: cURL
          source: |
            curl --request DELETE \
              --url https://api.us.nylas.com/v3/connectors \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer <NYLAS_API_KEY>' \
              --header 'Content-Type: application/json'
        - lang: javascript
          label: Node.js SDK
          source: |-
            import 'dotenv/config'
            import Nylas from 'nylas'

            // Configure the Nylas SDK with your API key and server URL
            const NylasConfig = {
              apiKey: process.env.NYLAS_API_KEY,
              apiUri: process.env.NYLAS_API_URI,
            }

            const nylas = new Nylas(NylasConfig)

            // Function to remove a connector
            const removeConnector = async (provider) => {
              try {
                await nylas.connectors.destroy({ provider })

                console.log(`Connector with ID ${provider} removed successfully.`)
              } catch (error) {
                console.error('Error removing connector:', error)
              }
            }

            const provider = 'google'
            removeConnector(provider)
        - lang: python
          label: Python SDK
          source: |-
            from dotenv import load_dotenv
            load_dotenv()

            import os
            import sys
            from nylas import Client

            nylas = Client(
                os.environ.get('NYLAS_API_KEY'),
                os.environ.get('NYLAS_API_URI')
            )

            provider = 'google'

            request = nylas.connectors.destroy(
              provider,
            )

            print(request)
        - lang: ruby
          label: Ruby SDK
          source: |-
            require 'nylas'
            require 'dotenv/load'

            nylas = Nylas::Client.new(
                api_key: ENV["NYLAS_API_KEY"]
            )

            connector = nylas.connectors.destroy(provider: "google")

            puts connector
        - lang: java
          label: Java SDK
          source: |
            import com.nylas.NylasClient;
            import com.nylas.models.*;

            public class ListDraft {
                public static void main(String[] args) throws
                NylasSdkTimeoutError, NylasApiError {
                    NylasClient nylas = new NylasClient.Builder("<NYLAS_API_KEY>").build();

                    DeleteResponse connector =
                    nylas.connectors().destroy(AuthProvider.GOOGLE);
                    System.out.println(connector);
                }
            }
        - lang: kotlin
          label: Kotlin SDK
          source: |
            import com.nylas.NylasClient
            import com.nylas.models.AuthProvider

            fun main(args: Array<String>) {

                val nylas: NylasClient = NylasClient(
                    apiKey = "<NYLAS_API_KEY>"
                )

                val connector =
                nylas.connectors().destroy(AuthProvider.GOOGLE)
                println(connector)
            }
  /v3/providers/detect:
    post:
      operationId: detect_provider_by_email
      tags:
        - Connectors (Integrations)
      summary: Detect provider
      description: Returns detected provider if it is found
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl --request POST \
              --url https://api.us.nylas.com/v3/providers/detect?email=<EMAIL>&all_provider_types=false \
              --header 'Content-Type: application/json' \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer <NYLAS_API_KEY>' \
        - lang: javascript
          label: Node.js SDK
          source: |-
            import 'dotenv/config'
            import Nylas from 'nylas'

            // Configure the Nylas SDK with your API key and server URL
            const NylasConfig = {
              apiKey: process.env.NYLAS_API_KEY,
              apiUri: process.env.NYLAS_API_URI,
            }

            const nylas = new Nylas(NylasConfig)

            const detectProvider = async () => {
              try {
                const response = await nylas.auth.detectProvider({
                  clientId: process.env.NYLAS_CLIENT_ID,
                  email: process.env.EMAIL,
                })

                console.log('Connector', response)
              } catch (error) {
                console.error('Error removing connector:', error)
              }
            }

            detectProvider()
        - lang: python
          label: Python SDK
          source: '# TODO'
        - lang: ruby
          label: Ruby SDK
          source: |-
            require 'nylas'

            nylas = Nylas::Client.new(
                api_key: "<NYLAS_API_KEY>"
            )

            query_params = {
              email:  "<EMAIL>"
            }

            provider, _ = nylas.connectors.detect_provider(query_params)

            puts provider
        - lang: java
          label: Java SDK
          source: |-
            import com.nylas.NylasClient;
            import com.nylas.models.*;

            public class detect_provider {
              public static void main(String[] args) throws NylasSdkTimeoutError, NylasApiError {
                NylasClient nylas = new NylasClient.Builder("<NYLAS_API_KEY>").build();
                ProviderDetectConnectorParams params = new ProviderDetectConnectorParams("<EMAIL>", null);
                Response<ProviderDetectResponse> provider = nylas.connectors().detectProvider(params);

                System.out.println(provider);
              }
            }
        - lang: kotlin
          label: Kotlin SDK
          source: |-
            import com.nylas.NylasClient
            import com.nylas.models.ProviderDetectConnectorParams

            fun main(args: Array<String>) {
              val nylas: NylasClient = NylasClient(
                  apiKey = "<NYLAS_API_KEY>"
              )

              val params = ProviderDetectConnectorParams("<EMAIL>", null)
              val provider = nylas.connectors().detectProvider(params)

              print(provider)
            }
      security:
        - NYLAS_API_KEY: []
      parameters:
        - in: query
          name: email
          description: Email for detection
          required: true
          schema:
            type: string
        - in: query
          name: all_provider_types
          description: Search by all providers regardless of if they have an existing connector
          schema:
            default: false
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  request_id:
                    type: string
                    description: ID of the request
                    example: 5967ca40-a2d8-4ee0-a0e0-6f18ace39a90
                  data:
                    $ref: '#/components/schemas/AutodetectObject'
          description: Returns the autodetected provider
        '401':
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
  /v3/connect/auth:
    get:
      operationId: get_oauth2_flow
      tags:
        - Authentication APIs
      summary: Hosted OAuth - Authorization Request
      description: The initial OAuth 2.0 authorization request. Supports the authorization code flow, in addition to optional PKCE settings for client-side only applications. For more information, see the  [Hosted OAuth with access token](/docs/v3/auth/hosted-oauth-accesstoken/) and [Hosted OAuth with access token and PKCE](/docs/v3/auth/hosted-oauth-accesstoken/#create-grants-with-oauth-2.0-and-pkce) documentation.
      x-code-samples:
        - lang: python
          label: Python SDK
          source: |
            @app.route("/nylas/auth", methods=["GET"])
            def login():
              if session.get("grant_id") is None:
                config = URLForAuthenticationConfig({"client_id": "<NYLAS_CLIENT_ID>",
                    "redirect_uri" : "http://localhost:5000/oauth/exchange"})

                url = nylas.auth.url_for_oauth2(config)
                return redirect(url)
              else:
                return f'{session["grant_id"]}'

            @app.route("/oauth/exchange", methods=["GET"])
            def authorized():
              if session.get("grant_id") is None:
                code = request.args.get("code")

                exchangeRequest = CodeExchangeRequest({"redirect_uri": "http://localhost:5000/oauth/exchange",
                    "code": code, "client_id": "<NYLAS_CLIENT_ID>"})

                exchange = nylas.auth.exchange_code_for_token(exchangeRequest)
                session["grant_id"] = exchange.grant_id

                return redirect(url_for("login"))
        - lang: ruby
          label: Ruby SDK
          source: |
            get '/nylas/auth' do
              config = {
                client_id: '<NYLAS_CLIENT_ID>',
                provider: 'google',
                redirect_uri: 'http://localhost:4567/oauth/exchange',
                login_hint: 'swag@nylas.com',
                access_type: 'offline'
              }

              url = nylas.auth.url_for_oauth2(config)
              redirect url
            end


            get '/oauth/exchange' do
              code = params[:code]
              status 404 if code.nil?

              begin
                response = nylas.auth.exchange_code_for_token({
                client_id: '<NYLAS_CLIENT_ID>',
                redirect_uri: 'http://localhost:4567/oauth/exchange',
                code: code})
              rescue StandardError
                status 500
              else
                response[:grant_id]
                response[:email]
                session[:grant_id] = response[:grant_id]
              end
            end
        - lang: java
          label: Java SDK
          source: |
            get("/nylas/auth", (request, response) -> {

                List<String> scope = new ArrayList<>();
                scope.add("https://www.googleapis.com/auth/calendar");

                UrlForAuthenticationConfig config = new UrlForAuthenticationConfig("<NYLAS_CLIENT_ID>",
                        "http://localhost:4567/oauth/exchange",
                        AccessType.ONLINE,
                        AuthProvider.GOOGLE,
[...]
