{
    "openapi":    "3.0.0",
    "info":       {
        "title":       "v3 Nylas Administration API",
        "description": "**This API reference covers the **Administration APIs** only.\nSee the [<b>Email and Calendar API reference</b>](https:///docs/api/v3-beta/ecc/) for information on working with Email and Calendar APIs.\n\nThe **Nylas Administration APIs** are how you query and change your Nylas applications, including the application's authentication configuration, provider settings, and webhook subscriptions. You can also use Administration APIs to query your application to list the Grants (specific permissions to access user data) that are associated with each of your Nylas applications.\n\nThe Nylas API is designed using the [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer) ideology to provide simple and predictable URIs to access and modify objects. Requests support [standard HTTP methods](http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html) like GET, PUT, POST, and DELETE and [standard status codes](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html). Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.\n\n## Nylas authentication in v3\n\nYou can find more information about the Nylas Administration APIs in the main documentation set:\n\n- [Authentication in v3](https:///docs/developer-guide/v3-authentication/)\n    - [Create Grants with OAuth authentication + API key](https:///docs/developer-guide/v3-authentication/hosted-oauth-apikey/)\n    - [Create Grants with OAuth authentication + Access token](https:///docs/developer-guide/v3-authentication/hosted-oauth-accesstoken/)\n    - [Create Grants with custom authentication](https:///docs/developer-guide/v3-authentication/custom/) (called \"native\" authentication in v2)\n    - [Create Grants with IMAP authentication](https:///docs/developer-guide/v3-authentication/imap/)\n- [Bulk authentication in v3](https:///docs/developer-guide/v3-authentication/bulk-auth-grants/)\n- [v3 event codes](https:///docs/v3-beta/event-codes/)\n- [Virtual Calendars in v3](https:///docs/developer-guide/v3-authentication/virtual-calendars/)",
        "version":     "1.0.0"
    },
    "servers":    [
        {
            "url":         "https://api.us.nylas.com",
            "description": "US server"
        },
        {
            "url":         "https://api.eu.nylas.com",
            "description": "EU server"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type":   "http",
                "scheme": "bearer"
            },
            "oauth2Auth": {
                "type":   "http",
                "scheme": "oauth2"
            }
        }
    },
    "security":   [
        {
            "bearerAuth": []
        }
    ],
    "tags":       [
        {
            "name": "v3"
        },
        {
            "name": "v3 > applications"
        },
        {
            "name": "v3 > applications > redirect-uris"
        },
        {
            "name": "v3 > applications > redirect-uris > {id}"
        },
        {
            "name": "v3 > connectors"
        },
        {
            "name": "v3 > connectors > {provider}"
        },
        {
            "name": "v3 > connectors > {provider} > creds"
        },
        {
            "name": "v3 > connectors > {provider} > creds > {id}"
        },
        {
            "name": "v3 > connect"
        },
        {
            "name": "v3 > grants"
        },
        {
            "name": "v3 > grants > {grantId}"
        },
        {
            "name": "v3 > webhooks"
        },
        {
            "name": "v3 > webhooks > {id}"
        },
        {
            "name": "v3 > channels/pubsub"
        },
        {
            "name": "v3 > channels/pubsub > {id}"
        }
    ],
    "paths":      {
        "/v3/applications/redirect-uris/{callback_id}": {
            "get":    {
                "tags":        [
                    "v3 > applications > redirect-uris > {id}"
                ],
                "summary":     "Get callback URI",
                "description": "Gets a Callback URI based on ID",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":     "callback_id",
                        "in":       "path",
                        "schema":   {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       {
                                        "id":       "<string>",
                                        "url":      "<string>",
                                        "platform": "<string>",
                                        "settings": {
                                            "origin":                       "<string>",
                                            "bundle_id":                    "<string>",
                                            "app_store_id":                 "<string>",
                                            "team_id":                      "<string>",
                                            "package_name":                 "<string>",
                                            "sha1_certificate_fingerprint": "<string>"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Authentication error",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Resource not found",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch":  {
                "tags":        [
                    "v3 > applications > redirect-uris > {id}"
                ],
                "summary":     "Update a callback URI",
                "description": "Update a Callback URI based on ID",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type":    "object",
                                "example": {
                                    "url":      "<string>",
                                    "platform": "<string>",
                                    "settings": {
                                        "origin":                       "<string>",
                                        "bundle_id":                    "<string>",
                                        "package_name":                 "<string>",
                                        "sha1_certificate_fingerprint": "<string>"
                                    }
                                }
                            }
                        }
                    }
                },
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Content-Type",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":     "callback_id",
                        "in":       "path",
                        "schema":   {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       {
                                        "id":       "<string>",
                                        "url":      "<string>",
                                        "platform": "<string>",
                                        "settings": {
                                            "origin":                       "<string>",
                                            "bundle_id":                    "<string>",
                                            "app_store_id":                 "<string>",
                                            "team_id":                      "<string>",
                                            "package_name":                 "<string>",
                                            "sha1_certificate_fingerprint": "<string>"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Bad request",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Authentication error",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Resource not found",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags":        [
                    "v3 > applications > redirect-uris > {id}"
                ],
                "summary":     "Delete a callback URI",
                "description": "Delete existing Callback URI based on it's ID",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":     "callback_id",
                        "in":       "path",
                        "schema":   {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Authentication error",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Resource not found",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/applications/redirect-uris":               {
            "get":  {
                "tags":        [
                    "v3 > applications > redirect-uris"
                ],
                "summary":     "Get an application's callback URIs",
                "description": "Get an application's callback URIs",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "success": "<boolean>",
                                    "data":    [
                                        {
                                            "id":       "<string>",
                                            "url":      "<string>",
                                            "platform": "<string>",
                                            "settings": {
                                                "origin":                       "<string>",
                                                "bundle_id":                    "<string>",
                                                "app_store_id":                 "<string>",
                                                "team_id":                      "<string>",
                                                "package_name":                 "<string>",
                                                "sha1_certificate_fingerprint": "<string>"
                                            }
                                        },
                                        {
                                            "id":       "<string>",
                                            "url":      "<string>",
                                            "platform": "<string>",
                                            "settings": {
                                                "origin":                       "<string>",
                                                "bundle_id":                    "<string>",
                                                "app_store_id":                 "<string>",
                                                "team_id":                      "<string>",
                                                "package_name":                 "<string>",
                                                "sha1_certificate_fingerprint": "<string>"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "success": "<boolean>",
                                    "error":   {
                                        "request_id": "<string>",
                                        "error":      {
                                            "type":           "<string>",
                                            "message":        "Bad request",
                                            "provider_error": "<object>"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "request_id": "<string>",
                                        "error":      {
                                            "type":           "<string>",
                                            "message":        "Resource not found",
                                            "provider_error": "<object>"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags":        [
                    "v3 > applications > redirect-uris"
                ],
                "summary":     "Add callback URI to application",
                "description": "Add new Callback URI to an existing Application",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type":    "object",
                                "example": {
                                    "url":      "<string>",
                                    "platform": "<string>",
                                    "settings": {
                                        "origin":                       "<string>",
                                        "bundle_id":                    "<string>",
                                        "package_name":                 "<string>",
                                        "sha1_certificate_fingerprint": "<string>"
                                    }
                                }
                            }
                        }
                    }
                },
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Content-Type",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       {
                                        "id":       "<string>",
                                        "url":      "<string>",
                                        "platform": "<string>",
                                        "settings": {
                                            "origin":                       "<string>",
                                            "bundle_id":                    "<string>",
                                            "app_store_id":                 "<string>",
                                            "team_id":                      "<string>",
                                            "package_name":                 "<string>",
                                            "sha1_certificate_fingerprint": "<string>"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Bad request",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Authentication error",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/applications":                             {
            "get":   {
                "tags":        [
                    "v3 > applications"
                ],
                "summary":     "Get application",
                "description": "Gets the application object",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       {
                                        "application_id":        "<string>",
                                        "organization_id":       "<string>",
                                        "region":                "<string>",
                                        "environment":           "<string>",
                                        "branding":              {
                                            "name":        "<string>",
                                            "icon_url":    "<string>",
                                            "website_url": "<string>",
                                            "description": "<string>"
                                        },
                                        "hosted_authentication": {
                                            "background_image_url": "<string>",
                                            "alignment":            "<string>",
                                            "color_primary":        "<string>",
                                            "color_secondary":      "<string>",
                                            "title":                "<string>",
                                            "subtitle":             "<string>",
                                            "background_color":     "<string>",
                                            "spacing":              "<integer>"
                                        },
                                        "callback_uris":         [
                                            {
                                                "id":       "<string>",
                                                "url":      "<string>",
                                                "platform": "<string>",
                                                "settings": {
                                                    "origin":                       "<string>",
                                                    "bundle_id":                    "<string>",
                                                    "package_name":                 "<string>",
                                                    "sha1_certificate_fingerprint": "<string>"
                                                }
                                            },
                                            {
                                                "id":       "<string>",
                                                "url":      "<string>",
                                                "platform": "<string>",
                                                "settings": {
                                                    "origin":                       "<string>",
                                                    "bundle_id":                    "<string>",
                                                    "package_name":                 "<string>",
                                                    "sha1_certificate_fingerprint": "<string>"
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Bad request",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Authentication error",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags":        [
                    "v3 > applications"
                ],
                "summary":     "Update application",
                "description": "Updates an application. Selects the application to update based on the `client_id` associated with the API key.\n<div style=\"padding:24px; background-color: #FFFEE6; border: 1px solid #9E9600; color: #161717\"><b>v3 Beta Note</b>: This API endpoint will be removed in the future when application settings are available in the v3 Dashboard.</div>\n",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type":    "object",
                                "example": {
                                    "application_id":        "<string>",
                                    "organization_id":       "<string>",
                                    "region":                "<string>",
                                    "environment":           "<string>",
                                    "branding":              {
                                        "name":        "<string>",
                                        "icon_url":    "<string>",
                                        "website_url": "<string>",
                                        "description": "<string>"
                                    },
                                    "hosted_authentication": {
                                        "background_image_url": "<string>",
                                        "alignment":            "<string>",
                                        "color_primary":        "<string>",
                                        "color_secondary":      "<string>",
                                        "title":                "<string>",
                                        "subtitle":             "<string>",
                                        "background_color":     "<string>",
                                        "spacing":              "<integer>"
                                    },
                                    "callback_uris":         [
                                        {
                                            "id":       "<string>",
                                            "url":      "<string>",
                                            "platform": "<string>",
                                            "settings": {
                                                "origin":                       "<string>",
                                                "bundle_id":                    "<string>",
                                                "package_name":                 "<string>",
                                                "sha1_certificate_fingerprint": "<string>"
                                            }
                                        },
                                        {
                                            "id":       "<string>",
                                            "url":      "<string>",
                                            "platform": "<string>",
                                            "settings": {
                                                "origin":                       "<string>",
                                                "bundle_id":                    "<string>",
                                                "package_name":                 "<string>",
                                                "sha1_certificate_fingerprint": "<string>"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Content-Type",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "success": "<boolean>",
                                    "data":    {
                                        "application_id":        "<string>",
                                        "organization_id":       "<string>",
                                        "region":                "<string>",
                                        "environment":           "<string>",
                                        "branding":              {
                                            "name":        "<string>",
                                            "icon_url":    "<string>",
                                            "website_url": "<string>",
                                            "description": "<string>"
                                        },
                                        "hosted_authentication": {
                                            "background_image_url": "<string>",
                                            "alignment":            "<string>",
                                            "color_primary":        "<string>",
                                            "color_secondary":      "<string>",
                                            "title":                "<string>",
                                            "subtitle":             "<string>",
                                            "background_color":     "<string>",
                                            "spacing":              "<integer>"
                                        },
                                        "callback_uris":         [
                                            {
                                                "id":       "<string>",
                                                "url":      "<string>",
                                                "platform": "<string>",
                                                "settings": {
                                                    "origin":                       "<string>",
                                                    "bundle_id":                    "<string>",
                                                    "package_name":                 "<string>",
                                                    "sha1_certificate_fingerprint": "<string>"
                                                }
                                            },
                                            {
                                                "id":       "<string>",
                                                "url":      "<string>",
                                                "platform": "<string>",
                                                "settings": {
                                                    "origin":                       "<string>",
                                                    "bundle_id":                    "<string>",
                                                    "package_name":                 "<string>",
                                                    "sha1_certificate_fingerprint": "<string>"
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Bad request",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Authentication error",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Resource not found",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/connectors/{provider}/creds/{id}":         {
            "get":    {
                "tags":        [
                    "v3 > connectors > {provider} > creds > {id}"
                ],
                "summary":     "Get credential by ID",
                "description": "Get credential by specified ID",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "provider",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ",
                        "example":     "{{provider}}"
                    },
                    {
                        "name":        "id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ",
                        "example":     "{{credential_id}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       {
                                        "id":         "<string>",
                                        "name":       "<string>",
                                        "created_at": "<integer>",
                                        "updated_at": "<integer>"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Bad request",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Authentication error",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch":  {
                "tags":        [
                    "v3 > connectors > {provider} > creds > {id}"
                ],
                "summary":     "Update credential by ID",
                "description": "Patch credential by specified ID",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type":    "object",
                                "example": {
                                    "name":            "google",
                                    "credential_data": {
                                        "client_id":     "{{google_client_id}}",
                                        "client_secret": "{{google_client_secret}}"
                                    }
                                }
                            }
                        }
                    }
                },
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Content-Type",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "provider",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ",
                        "example":     "{{provider}}"
                    },
                    {
                        "name":        "id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ",
                        "example":     "{{credential_id}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       {
                                        "id":         "<string>",
                                        "name":       "<string>",
                                        "created_at": "<integer>",
                                        "updated_at": "<integer>"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Bad request",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Authentication error",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags":        [
                    "v3 > connectors > {provider} > creds > {id}"
                ],
                "summary":     "Delete credential by ID",
                "description": "Delete credential by specified ID",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "provider",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ",
                        "example":     "{{provider}}"
                    },
                    {
                        "name":        "id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ",
                        "example":     "{{credential_id}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Bad request",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Authentication error",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/connectors/{provider}/creds":              {
            "post": {
                "tags":        [
                    "v3 > connectors > {provider} > creds"
                ],
                "summary":     "Create credential",
                "description": "Manually create a new credential record.\n",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type":    "object",
                                "example": {
                                    "name":            "google",
                                    "credential_type": "connector",
                                    "credential_data": {
                                        "client_id":     "{{google_client_id}}",
                                        "client_secret": "{{google_client_secret}}"
                                    }
                                }
                            }
                        }
                    }
                },
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Content-Type",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "provider",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ",
                        "example":     "{{provider}}"
                    }
                ],
                "responses":   {
                    "201": {
                        "description": "Created",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       {
                                        "id":         "<string>",
                                        "name":       "<string>",
                                        "created_at": "<integer>",
                                        "updated_at": "<integer>"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Bad request",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Authentication error",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get":  {
                "tags":        [
                    "v3 > connectors > {provider} > creds"
                ],
                "summary":     "List credentials",
                "description": "Lists credentials for given provider",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "provider",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ",
                        "example":     "{{provider}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       [
                                        {
                                            "id":         "<string>",
                                            "name":       "<string>",
                                            "created_at": "<integer>",
                                            "updated_at": "<integer>"
                                        },
                                        {
                                            "id":         "<string>",
                                            "name":       "<string>",
                                            "created_at": "<integer>",
                                            "updated_at": "<integer>"
                                        }
                                    ],
                                    "limit":      "<integer>",
                                    "offset":     "<integer>"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Authentication error",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Resource not found",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/connectors/{provider}":                    {
            "post": {
                "tags":        [
                    "v3 > connectors > {provider}"
                ],
                "summary":     "Create a connector",
                "description": "Create a connector in your Nylas application. Connectors are how your Nylas application stores information needed to connect to external services. Creating a connector is the first step in setting up authentication for your project.\n<!-- Customer Developer onboarding setup up OAuth strategy with ClientID/Secrets.-->\n",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type":    "object",
                                "example": {
                                    "provider": "<string>",
                                    "settings": {
                                        "client_id":     "<string>",
                                        "client_secret": "<string>",
                                        "topic_name":    "<string>"
                                    },
                                    "scope":    [
                                        "<string>",
                                        "<string>"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Content-Type",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":     "provider",
                        "in":       "path",
                        "schema":   {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses":   {
                    "201": {
                        "description": "Created",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       {
                                        "provider": "<string>",
                                        "settings": "<object>",
                                        "scope":    [
                                            "<string>",
                                            "<string>"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Bad request",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Authentication error",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get":  {
                "tags":        [
                    "v3 > connectors > {provider}"
                ],
                "summary":     "List connectors",
                "description": "Lists the connectors in your Nylas application",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":     "provider",
                        "in":       "path",
                        "schema":   {
                            "type": "string"
                        },
                        "required": true,
                        "example":  "google"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       [
                                        {
                                            "provider": "<string>",
                                            "settings": "<object>",
                                            "scope":    [
                                                "<string>",
                                                "<string>"
                                            ]
                                        },
                                        {
                                            "provider": "<string>",
                                            "settings": "<object>",
                                            "scope":    [
                                                "<string>",
                                                "<string>"
                                            ]
                                        }
                                    ],
                                    "limit":      "<integer>",
                                    "offset":     "<integer>"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Authentication error",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Resource not found",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/connectors":                               {
            "post": {
                "tags":        [
                    "v3 > connectors"
                ],
                "summary":     "Create a connector",
                "description": "Create a connector in your Nylas application. Connectors are how your Nylas application stores information needed to connect to external services. Creating a connector is the first step in setting up authentication for your project.\n<!-- Customer Developer onboarding setup up OAuth strategy with ClientID/Secrets.-->\n",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type":    "object",
                                "example": {
                                    "provider": "<string>",
                                    "settings": {
                                        "client_id":     "<string>",
                                        "client_secret": "<string>",
                                        "topic_name":    "<string>"
                                    },
                                    "scope":    [
                                        "<string>",
                                        "<string>"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Content-Type",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses":   {
                    "201": {
                        "description": "Created",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       {
                                        "provider": "<string>",
                                        "settings": "<object>",
                                        "scope":    [
                                            "<string>",
                                            "<string>"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Bad request",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "Authentication error",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get":  {
                "tags":        [
                    "v3 > connectors"
                ],
                "summary":     "List connectors",
                "description": "Lists the connectors in your Nylas application",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
[...]
