{
    "openapi":    "3.0.0",
    "info":       {
        "title":       "v3 Nylas Email and Calendar APIs",
        "description": "This API reference covers the **Nylas Email and Calendar APIs**.\nSee the see the [<b>Administration API documentation</b>](https:///docs/api/v3-beta/admin/) for information about working with Nylas applications, authentication, connectors, and webhook subscriptions.\n\nThe Nylas API is designed using the [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer) ideology to provide simple and predictable URIs to access and modify objects. Requests support [standard HTTP methods](http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html) like GET, PUT, POST, and DELETE and [standard status codes](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html). Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.\n\n# Pagination\n\nSome queries result in multiple pages of data. Nylas includes a `next_cursor` response body field when there are more pages of results. To get the next page, pass the value of this header as the `page_token` query parameter on your next request.\n\nYou can use the `limit` query parameter to specify the maximum number of results you want in the page. A page might have less than `limit` results, but that doesn't mean that it's the last page. Use the presences of the `next_cursor` response body field to determine if there are additional pages.\n\n| Query Parameter | Type | Description |\n| --- | --- | --- |\n| `limit` | integer | The number of objects to return. This defaults to 50 and has a maximum of 200. |\n| `page_token` | string | An identifier that specifies which page of data to return. This value should be taken from the `next_cursor` response body field. |\n\n# /me/ syntax for API calls\n\nThe Nylas API v3 Beta includes new `/me/` syntax that you can use in access-token authorized API calls, instead of specifying a user's Grant ID (for example, `GET /v3/grants/me/messages`).\n\nThe `/me/` syntax looks up the Grant associated with the request's access token, and uses the `grant_id` associated with the token as a locator. You can use this syntax for API requests that access account data only, and only if you use access tokens to authorize requests. You can't use this syntax if you're using API key authorization, because there is no Grant associated with an API key.\n\nFor more information, see the [API v3 Beta features and changes documentation](https:///docs/v3-beta/features-and-changes/#changing-account_id-to-grant_id).\n\n# Metadata\n\nYou can add key-value pairs to certain objects to store data against them. You can currently create, read, update, and delete metadata on Calendars and Events. Metadata is coming soon for message drafts and messages.\n\nThe `metadata` object is made of a list of key-value pairs. Keys and values can be any string.\n\nNylas also reserves five specific keys that you can include in the JSON payload of a query to filter the returned objects.\n\n## Metadata keys and filtering\n\nNylas reserves five metadata keys (`key1`, `key2`, `key3`, `key4`, `key5`) and indexes their contents. If you add metadata values to these keys, you can then add a metadata filter to a query so that only items with matching metadata are returned. You can also add these filters as URI parameters to a query, as in the examples below.\n\n- `https://api.nylas.com/calendar?metadata_pair=key1:value`\n- `https://api.nylas.com/events?calendar_id=CALENDAR_ID&metadata_pair=key1:value`\n\nYou cannot create a query that contains **both** a provider and metadata filter. Filters like the example below return an error message.\n\n- `https://api.nylas.com/calendar?metadata_pair=key1:value&title=Birthday`\"\n\nYou do not need to include an `event_id` when filtering with `metadata_filters`.\nWhat's this about? It seems a random\n\n## Example: Add metadata\n\nThe following example cURL request adds metadata to a Calendar. You can add metadata to Calendars and Events using a `POST` request with a `--data-raw` object for both.\n\nIn the example below, we add `key1`, which is one of the Nylas-indexed keys that you can use for filtering.\n\n``` bash\ncurl --location --request POST 'https://api.us.nylas.com/v3/grants/me/calendars' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"name\" : \"Name of a calendar with metadata\",\n    \"metadata\":{\n        \"key1\": \"value to filter on\"\n    }\n}'\n\n ```\n\nThe `/me/` syntax in this example looks up the Grant associated with the request's access token, and uses the `grant_id` associated with the token as a locator. You can use this syntax for API requests that access account data only, and only if you use access tokens to authorize requests. You can't use this syntax if you're using API key authorization, because there is no Grant associated with an API key.\n\n## Example: Query metadata\n\nYou can query the metadata you added by including a JSON object like the example below to a query that would return metadata-enabled objects. At this time calendars and events support metadata.\n\n``` json\n\"metadata\": {\n    \"key1\": \"value\"\n}\n\n ```\n\n### Example: Update and delete metadata\n\nThe example cURL command below creates a new Calendar that includes metadata.\n\n``` bash\ncurl --location --request POST 'https://api.us.nylas.com/v3/grants/me/calendars' \\\n--data-raw '{\n    \"metadata\": {\n        \"key1\": \"Initial metadata value\"\n    }\n}'\n\n ```\n\nThe example below updates the calendar `metadata` using a `PUT` command.\n\n**Note**: The `PUT` command overwrites the entire `metadata` object. (The `PATCH` command behaves in the same way, and overwrites the entire `metadata` object.)\n\n``` bash\ncurl --location --request PUT &#x27;https://api.us.nylas.com/v3/grants/me/calendars/<CALENDAR_ID>&#x27; \\\n--data-raw '{\n    \"metadata\": {\n        \"key1\": \"This key has been updated\",\n        \"key2\": \"Added this new key\"\n    }\n}'\n\n ```\n\nThe `/me/` syntax in this example looks up the Grant associated with the request's access token, and uses the `grant_id` associated with the token as a locator. You can use this syntax for API requests that access account data only, and only if you use access tokens to authorize requests. You can't use this syntax if you're using API key authorization, because there is no Grant associated with an API key.\n\nThe response will be similar to the following example.\nIs this Nylas' response confirming the change? Or is this the response if you query for that metadata later?\n\n``` json\n\"metadata\": {\n    \"key1\": \"This key has been updated\",\n    \"key2\": \"Added this new key\"\n}\n\n ```\n\nIf you update the above example with the `PUT` call below that does _not_ include both metadata keys, Nylas deletes `key2` from the `metadata` object.\n\n``` bash\ncurl --location --request PUT &#x27;https://api.us.nylas.com/v3/grants/me/calendars/<CALENDAR_ID>&#x27; \\\n--data-raw '{\n    \"metadata\": {\n        \"key1\": \"New Value\"\n    }\n}'\n\n ```\n\nThe response will then be similar to the example below.\nSame question re: what kind of response.\n\n``` json\n\"metadata\": {\n    \"key1\": \"New Value\"\n}\n\n ```",
        "version":     "1.0.0"
    },
    "servers":    [
        {
            "url":         "https://api.us.nylas.com",
            "description": "US server"
        },
        {
            "url":         "https://api.eu.nylas.com",
            "description": "EU server"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type":   "http",
                "scheme": "bearer"
            }
        }
    },
    "tags":       [
        {
            "name": "v3"
        },
        {
            "name": "v3 > grants/{grant_id}"
        },
        {
            "name": "v3 > grants/{grant_id} > calendars"
        },
        {
            "name": "v3 > grants/{grant_id} > calendars > {calendar_id}"
        },
        {
            "name": "v3 > grants/{grant_id} > events"
        },
        {
            "name": "v3 > grants/{grant_id} > events > {event_id}"
        },
        {
            "name": "v3 > grants/{grant_id} > messages"
        },
        {
            "name": "v3 > grants/{grant_id} > messages > {message_id}"
        },
        {
            "name": "v3 > grants/{grant_id} > messages > schedules"
        },
        {
            "name": "v3 > grants/{grant_id} > messages > schedules > {scheduleId}"
        },
        {
            "name": "v3 > grants/{grant_id} > threads"
        },
        {
            "name": "v3 > grants/{grant_id} > threads > {thread_id}"
        },
        {
            "name": "v3 > grants/{grant_id} > drafts"
        },
        {
            "name": "v3 > grants/{grant_id} > drafts > {draft_id}"
        },
        {
            "name": "v3 > grants/{grant_id} > folders"
        },
        {
            "name": "v3 > grants/{grant_id} > folders > {folder_id}"
        },
        {
            "name": "v3 > grants/{grant_id} > attachments/{attachment_id}"
        }
    ],
    "paths":      {
        "/v3/grants/{grant_id}/calendars/{calendar_id}":              {
            "get":    {
                "tags":        [
                    "v3 > grants/{grant_id} > calendars > {calendar_id}"
                ],
                "summary":     "Return a Calendar",
                "description": "Returns a calendar by ID.",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":     "grant_id",
                        "in":       "path",
                        "schema":   {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name":     "calendar_id",
                        "in":       "path",
                        "schema":   {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       "<object>"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put":    {
                "tags":        [
                    "v3 > grants/{grant_id} > calendars > {calendar_id}"
                ],
                "summary":     "Update a Calendar",
                "description": "Updates an existing calendar by the specific calendar ID.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type":    "object",
                                "example": {
                                    "description":          "<string>",
                                    "hex_color":            "<string>",
                                    "hex_foreground_color": "<string>",
                                    "location":             "<string>",
                                    "metadata":             {
                                        "your-key": "<string>"
                                    },
                                    "name":                 "<string>",
                                    "timezone":             "<string>"
                                }
                            }
                        }
                    }
                },
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Content-Type",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "grant_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the grant to act upon. Use \"me\" to refer to the grant associated with an access token.",
                        "example":     "{{grant_id}}"
                    },
                    {
                        "name":        "calendar_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the calendar to act upon. Use \"primary\" to refer to the primary calendar associated with grant.",
                        "example":     "{{calendar_id}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       "<object>"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags":        [
                    "v3 > grants/{grant_id} > calendars > {calendar_id}"
                ],
                "summary":     "Delete a Calendar",
                "description": "Deletes an existing calendar identified by the specific calendar ID. You cannot delete a calendar where `is_primary: true`.",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "grant_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the grant to act upon. Use \"me\" to refer to the grant associated with an access token.",
                        "example":     "<string>"
                    },
                    {
                        "name":        "calendar_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the calendar to act upon. Use \"primary\" to refer to the primary calendar associated with grant.",
                        "example":     "<string>"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/grants/{grant_id}/calendars":                            {
            "post": {
                "tags":        [
                    "v3 > grants/{grant_id} > calendars"
                ],
                "summary":     "Create a Calendar",
                "description": "Create a calendar.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type":    "object",
                                "example": {
                                    "name":        "<string>",
                                    "description": "<string>",
                                    "location":    "<string>",
                                    "metadata":    {
                                        "your-key": "<string>"
                                    },
                                    "timezone":    "<string>"
                                }
                            }
                        }
                    }
                },
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Content-Type",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "grant_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the grant to act upon. Use \"me\" to refer to the grant associated with an access token.",
                        "example":     "{{grant_id}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       "<object>"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/grants/{grantId}/calendars":                             {
            "get": {
                "tags":        [
                    "v3 > grants/{grant_id} > calendars"
                ],
                "summary":     "Return all Calendars",
                "description": "Returns all calendars.",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "limit",
                        "in":      "query",
                        "schema":  {
                            "type": "integer"
                        },
                        "example": "50"
                    },
                    {
                        "name":     "grantId",
                        "in":       "path",
                        "schema":   {
                            "type": "string"
                        },
                        "required": true,
                        "example":  "{{grant_id}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "value": "<Error: Could not resolve allOf schema"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/grants/{grant_id}/calendars/free-busy":                  {
            "post": {
                "tags":        [
                    "v3 > grants/{grant_id} > calendars"
                ],
                "summary":     "Get Free/Busy Schedule",
                "description": "Get the free/busy schedule for a list of email addresses. The Grant ID included in the request must have access to view the provided emails' free/busy data (typically, this is configured by the provider). All email addresses must use the same provider (Google, Microsoft, etc).",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type":    "object",
                                "example": {
                                    "start_time": "<integer>",
                                    "end_time":   "<integer>",
                                    "emails":     [
                                        "<string>",
                                        "<string>"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Content-Type",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "grant_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the grant to act upon. Use \"me\" to refer to the grant associated with an access token.",
                        "example":     "{{grant_id}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       [
                                        {
                                            "email":      "<string>",
                                            "time_slots": [
                                                {
                                                    "start_time": "<integer>",
                                                    "end_time":   "<integer>",
                                                    "status":     "<string>",
                                                    "object":     "<string>"
                                                },
                                                {
                                                    "start_time": "<integer>",
                                                    "end_time":   "<integer>",
                                                    "status":     "<string>",
                                                    "object":     "<string>"
                                                }
                                            ],
                                            "error":      "<string>",
                                            "object":     "<string>"
                                        },
                                        {
                                            "email":      "<string>",
                                            "time_slots": [
                                                {
                                                    "start_time": "<integer>",
                                                    "end_time":   "<integer>",
                                                    "status":     "<string>",
                                                    "object":     "<string>"
                                                },
                                                {
                                                    "start_time": "<integer>",
                                                    "end_time":   "<integer>",
                                                    "status":     "<string>",
                                                    "object":     "<string>"
                                                }
                                            ],
                                            "error":      "<string>",
                                            "object":     "<string>"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/grants/{grant_id}/events/{event_id}":                    {
            "get":    {
                "tags":        [
                    "v3 > grants/{grant_id} > events > {event_id}"
                ],
                "summary":     "Return an Event",
                "description": "Returns an event by ID.",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "calendar_id",
                        "in":          "query",
                        "schema":      {
                            "type": "string"
                        },
                        "description": "(Required) Specify calendar ID of the event.  \"primary\" is a supported value indicating the user's primary calendar.",
                        "example":     "<string>"
                    },
                    {
                        "name":        "grant_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the grant to act upon. Use \"me\" to refer to the grant associated with an access token.",
                        "example":     "<string>"
                    },
                    {
                        "name":        "event_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the event to act upon.",
                        "example":     "<string>"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       "<object>"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put":    {
                "tags":        [
                    "v3 > grants/{grant_id} > events > {event_id}"
                ],
                "summary":     "Update an Event",
                "description": "Updates an event, conference, or metadata.\n\n\n## Ready Only and Recurring Events\n\nUpdating and deleting an event is managed in a similar fashion to other endpoints with the restriction that `read_only` events cannot be updated and events cannot be updated or deleted from a `read_only` calendar.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type":    "object",
                                "example": {
                                    "busy":              "<boolean>",
                                    "capacity":          "<integer>",
                                    "conferencing":      {
                                        "autocreate": {
                                            "irure3": "dolor l"
                                        }
                                    },
                                    "description":       "<string>",
                                    "hide_participants": "<boolean>",
                                    "location":          "<string>",
                                    "metadata":          {
                                        "your-key": "<string>"
                                    },
                                    "participants":      [
                                        {
                                            "email":        "<string>",
                                            "comment":      "<string>",
                                            "name":         "<string>",
                                            "phone_number": "<string>"
                                        },
                                        {
                                            "email":        "<string>",
                                            "comment":      "<string>",
                                            "name":         "<string>",
                                            "phone_number": "<string>"
                                        }
                                    ],
                                    "recurrence":        [
                                        "<string>",
                                        "<string>"
                                    ],
                                    "reminders":         {
                                        "use_default": "<boolean>",
                                        "overrides":   [
                                            {
                                                "reminder_minutes": "<integer>",
                                                "reminder_method":  "<string>"
                                            },
                                            {
                                                "reminder_minutes": "<integer>",
                                                "reminder_method":  "<string>"
                                            }
                                        ]
                                    },
                                    "title":             "<string>",
                                    "visibility":        "<string>",
                                    "when":              {
                                        "time":     "<integer>",
                                        "timezone": "<string>"
                                    }
                                }
                            }
                        }
                    }
                },
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Content-Type",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "notify_participants",
                        "in":          "query",
                        "schema":      {
                            "type": "boolean"
                        },
                        "description": "Defaults to `true`, email notifications containing the calendar event is sent to all event participants. Microsoft accounts do not support notify_participants = False.",
                        "example":     "true"
                    },
                    {
                        "name":        "calendar_id",
                        "in":          "query",
                        "schema":      {
                            "type": "string"
                        },
                        "description": "(Required) Specify calendar ID of the event.  \"primary\" is a supported value indicating the user's primary calendar.",
                        "example":     "{{calendar_id}}"
                    },
                    {
                        "name":        "grant_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the grant to act upon. Use \"me\" to refer to the grant associated with an access token.",
                        "example":     "{{grant_id}}"
                    },
                    {
                        "name":        "event_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the event to act upon.",
                        "example":     "{{event_id}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       "<object>"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags":        [
                    "v3 > grants/{grant_id} > events > {event_id}"
                ],
                "summary":     "Delete an Event",
                "description": "Deletes an event. For Google, deleted events can still be read for some period of time via the `show_cancelled` query parameter. Microsoft deletes happen immediately.",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "notify_participants",
                        "in":          "query",
                        "schema":      {
                            "type": "boolean"
                        },
                        "description": "Defaults to `true`, email notifications containing the calendar event is sent to all event participants. Microsoft accounts do not support notify_participants = False.",
                        "example":     "true"
                    },
                    {
                        "name":        "calendar_id",
                        "in":          "query",
                        "schema":      {
                            "type": "string"
                        },
                        "description": "(Required) Specify calendar ID of the event.  \"primary\" is a supported value indicating the user's primary calendar.",
                        "example":     "{{calendar_id}}"
                    },
                    {
                        "name":        "grant_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the grant to act upon. Use \"me\" to refer to the grant associated with an access token.",
                        "example":     "{{grant_id}}"
                    },
                    {
                        "name":        "event_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the event to act upon.",
                        "example":     "{{event_id}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/grants/{grant_id}/events/{event_id}/send-rsvp":          {
            "post": {
                "tags":        [
                    "v3 > grants/{grant_id} > events > {event_id}"
                ],
                "summary":     "Send RSVP",
                "description": "The Send RSVP endpoint allows users to respond to events they have been added to as an attendee.  You cannot directly update events as an invitee, since you are not the owner/organizer.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type":    "object",
                                "example": {
                                    "status": "<string>"
                                }
                            }
                        }
                    }
                },
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Content-Type",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "calendar_id",
                        "in":          "query",
                        "schema":      {
                            "type": "string"
                        },
                        "description": "(Required) Specify calendar ID of the event.  \"primary\" is a supported value indicating the user's primary calendar.",
                        "example":     "{{calendar_id}}"
                    },
                    {
                        "name":        "grant_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the grant to act upon. Use \"me\" to refer to the grant associated with an access token.",
                        "example":     "{{grant_id}}"
                    },
                    {
                        "name":        "event_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the event.",
                        "example":     "{{event_id}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/grants/{grant_id}/events":                               {
            "get":  {
                "tags":        [
                    "v3 > grants/{grant_id} > events"
                ],
                "summary":     "Return all Events",
                "description": "Returns all events.",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "limit",
                        "in":          "query",
                        "schema":      {
                            "type": "integer"
                        },
                        "description": "The number of objects to return. This field defaults to 50. The maximum allowed value for this field is 200.  See [pagination](#section/Pagination) for more information.",
                        "example":     "50"
                    },
                    {
                        "name":    "calendar_id",
                        "in":      "query",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "{{calendar_id}}"
                    },
                    {
                        "name":        "grant_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the grant to act upon. Use \"me\" to refer to the grant associated with an access token.",
                        "example":     "{{grant_id}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "value": "<Error: Could not resolve allOf schema"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags":        [
                    "v3 > grants/{grant_id} > events"
                ],
                "summary":     "Create an Event",
                "description": "Creates an event.\n",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type":    "object",
                                "example": {
                                    "when":              {
                                        "time":     "<integer>",
                                        "timezone": "<string>"
                                    },
                                    "busy":              "<boolean>",
                                    "capacity":          "<integer>",
                                    "conferencing":      {
                                        "autocreate": {
                                            "sitc0e": 43224679,
                                            "id65":   "quis sint ex velit"
                                        }
                                    },
                                    "description":       "<string>",
                                    "hide_participants": "<boolean>",
                                    "location":          "<string>",
                                    "metadata":          {
                                        "your-key": "<string>"
                                    },
                                    "organizer":         {
                                        "name":  "<string>",
                                        "email": "<string>"
                                    },
                                    "participants":      [
                                        {
                                            "email":        "<string>",
                                            "comment":      "<string>",
                                            "name":         "<string>",
                                            "phone_number": "<string>"
                                        },
                                        {
                                            "email":        "<string>",
                                            "comment":      "<string>",
                                            "name":         "<string>",
                                            "phone_number": "<string>"
                                        }
                                    ],
                                    "recurrence":        [
                                        "<string>",
                                        "<string>"
                                    ],
                                    "reminders":         {
                                        "use_default": "<boolean>",
                                        "overrides":   [
                                            {
                                                "reminder_minutes": "<integer>",
                                                "reminder_method":  "<string>"
                                            },
                                            {
                                                "reminder_minutes": "<integer>",
                                                "reminder_method":  "<string>"
                                            }
                                        ]
                                    },
                                    "title":             "<string>",
                                    "visibility":        "<string>"
                                }
                            }
                        }
                    }
                },
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Content-Type",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "calendar_id",
                        "in":          "query",
                        "schema":      {
                            "type": "string"
                        },
                        "description": "(Required) Specify calendar ID of the event.  \"primary\" is a supported value indicating the user's primary calendar.",
                        "example":     "{{calendar_id}}"
                    },
                    {
                        "name":        "grant_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the grant to act upon. Use \"me\" to refer to the grant associated with an access token.",
                        "example":     "{{grant_id}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       "<object>"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/grants/{grant_id}/messages/{message_id}":                {
            "get":    {
                "tags":        [
                    "v3 > grants/{grant_id} > messages > {message_id}"
                ],
                "summary":     "Return a Message",
                "description": "Returns a message by ID.",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "fields",
                        "in":          "query",
                        "schema":      {
                            "type": "string"
                        },
                        "description": "Return message with headers by specifying \"include_headers\".",
                        "example":     "standard"
                    },
                    {
                        "name":        "grant_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the grant to act upon. Use \"me\" to refer to the grant associated with an access token.",
                        "example":     "{{grant_id}}"
                    },
                    {
                        "name":        "message_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the message to act upon.",
                        "example":     "{{message_id}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       "<object>"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put":    {
                "tags":        [
                    "v3 > grants/{grant_id} > messages > {message_id}"
                ],
                "summary":     "Update a Message",
                "description": "Updates a message.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type":    "object",
                                "example": {
                                    "starred": "<boolean>",
                                    "unread":  "<boolean>",
                                    "folders": [
                                        "<string>",
                                        "<string>"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Content-Type",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "grant_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the grant to act upon. Use \"me\" to refer to the grant associated with an access token.",
                        "example":     "{{grant_id}}"
                    },
                    {
                        "name":        "message_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the message to act upon.",
                        "example":     "{{message_id}}"
                    }
                ],
                "responses":   {
                    "200": {
                        "description": "OK",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "data":       "<object>"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers":     {
                            "Content-Type": {
                                "schema": {
                                    "type":    "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content":     {
                            "application/json": {
                                "schema":  {
                                    "type": "object"
                                },
                                "example": {
                                    "request_id": "<string>",
                                    "error":      {
                                        "type":           "<string>",
                                        "message":        "<string>",
                                        "provider_error": "<object>"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags":        [
                    "v3 > grants/{grant_id} > messages > {message_id}"
                ],
                "summary":     "Delete a Message",
                "description": "Nylas does not currently support hard delete but instead we move the message to the trash folder (soft delete).",
                "security":    [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters":  [
                    {
                        "name":    "Accept",
                        "in":      "header",
                        "schema":  {
                            "type": "string"
                        },
                        "example": "application/json"
                    },
                    {
                        "name":        "grant_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the grant to act upon. Use \"me\" to refer to the grant associated with an access token.",
                        "example":     "{{grant_id}}"
                    },
                    {
                        "name":        "message_id",
                        "in":          "path",
                        "schema":      {
                            "type": "string"
                        },
                        "required":    true,
                        "description": "(Required) ID of the message to act upon.",
                        "example":     "{{message_id}}"
                    }
                ],
                "responses":   {
                    "200": {
[...]
